@import '../lib/reset';
@import '../lib/mixin';


html {
  font-size: 100px;
}

body {
  font-size: .24rem;
}

html, body {
  width: 100%;
  height: 100%;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/*小按钮*/
.littleBtn, .dropdeo
.room .addRoombox p button {
  width: 150px;
  height: 35px;
  font-size: 14px;
  border: none;
  color: #fff;
  border-radius: 3px;
  background: #fb61aa;
  font-weight: bold;
}

/* 粉红色大按钮 */
.pinkBtn, .dropdeo
.room .ipSetup ul li button {
  width: 250px;
  height: 35px;
  background-color: #fb61aa;
  border-radius: 7px;
  font-size: 16px;
  border: none; }

.title {
  width: 100%;
  height: 60px;
  background: red;
  font-size: 20px;
  .title1{
    height:60px;
  }
}
  .title .title1 {
    float: left;
    width: 15%;
    height:60px;
    margin-left: 10px;
  }
    .title .title1 img {
      width: 100%;
    }
    .title .title1 span {
      width: 168px;
    color: #fff;
    font-size: 14px;
    display: inline-block;
    }
  .title .title2 {
    float: right;
    width: 264px;
    height: 60px;
    color: #72a2d6;
  }
    .title .title2 span {
      display: inline-block; }
      .title .title2 span:first-of-type {
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        border-left: 1px solid #1e3045; }
        .title .title2 span:first-of-type img {
          width: 40%; }
      .title .title2 span:nth-of-type(2), .title .title2 span:nth-of-type(3) {
        width: 100px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        border-left: 1px solid #1e3045; }
  .title strong {
    color: #fff;
    line-height: 60px;
    margin-left: 400px; }

.clear {
  float: right;
  margin-right: 80px;
  width: 100px;
  height: 25px;
  line-height: 25px;
  margin-top: 8px;
  text-align: center;
  color: #9c9c9c;
  border: 1px solid #9c9c9c;
  border-radius: 5px; }

/* 日常及节日计费设置通用部分 */
.dateandtimeandprice {
  padding: 20px 100px; }
  .dateandtimeandprice .totletitle {
    display: flex; }
  .dateandtimeandprice .timetitle, .dateandtimeandprice .pricetitle, .dateandtimeandprice .datetitle {
    display: inline-block;
    flex: 1;
    text-align: center;
    color: #9c9c9c; }
  .dateandtimeandprice .totledetail {
    display: flex; }
  .dateandtimeandprice .date, .dateandtimeandprice .time, .dateandtimeandprice .price {
    flex: 1; }
  .dateandtimeandprice .date {
    height: 150px;
    border: 1px solid #f9a1c7;
    margin-top: 15px;
    text-align: center;
    line-height: 150px;
    color: #f9a1c7; }
  .dateandtimeandprice .time {
    text-align: center; }
    .dateandtimeandprice .time .timedetail {
      margin-top: 25px; }
      .dateandtimeandprice .time .timedetail input {
        width: 70px;
        height: 18px;
        border: 1px solid #9c9c9c;
        border-radius: 3px;
        outline: none;
        background: url("/src/img/down.png") no-repeat;
        background-position: center right;
        background-size: 20%; }
        .dateandtimeandprice .time .timedetail input:focus {
          border: 1px solid #f9a1c7; }
        .dateandtimeandprice .time .timedetail input:first-of-type {
          margin-right: 10px; }
        .dateandtimeandprice .time .timedetail input:last-of-type {
          margin-left: 10px; }
  .dateandtimeandprice .price {
    text-align: center; }
    .dateandtimeandprice .price .pricedetail {
      margin-top: 25px; }
      .dateandtimeandprice .price .pricedetail input {
        width: 80px;
        height: 18px;
        border: 1px solid #9c9c9c;
        border-radius: 3px;
        outline: none; }
        .dateandtimeandprice .price .pricedetail input:focus {
          border: 1px solid #f9a1c7; }
        .dateandtimeandprice .price .pricedetail input:first-of-type {
          margin-right: 10px; }
        .dateandtimeandprice .price .pricedetail input:last-of-type {
          margin-left: 10px; }

.dropdeo
.room .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); }
.dropdeo
.room .roomTypeSetupContain {
  width: 120px;
  height: 655px;
  overflow: auto; }
  .dropdeo
  .room .roomTypeSetupContain .roomTypeSetup {
    font-size: 14px;
    color: #444444; }
    .dropdeo
    .room .roomTypeSetupContain .roomTypeSetup li {
      text-align: center;
      box-sizing: border-box;
      padding: 30px 10px; }
    .dropdeo
    .room .roomTypeSetupContain .roomTypeSetup .active {
      background: #e1e5ea;
      border-left: 1px solid #fb60ab;
      color: #fb60ab; }
    .dropdeo
    .room .roomTypeSetupContain .roomTypeSetup .newRoom {
      padding: 0;
      margin-top: 20px; }
      .dropdeo
      .room .roomTypeSetupContain .roomTypeSetup .newRoom div {
        width: 60px;
        height: 40px;
        border-radius: 7px;
        color: #999999;
        box-shadow: 0 0 10px rgba(0, 204, 204, 0.5);
        text-align: center;
        margin-left: 25px; }
        .dropdeo
        .room .roomTypeSetupContain .roomTypeSetup .newRoom div span {
          display: block; }
          .dropdeo
          .room .roomTypeSetupContain .roomTypeSetup .newRoom div span:first-of-type {
            font-size: 24px; }
          .dropdeo
          .room .roomTypeSetupContain .roomTypeSetup .newRoom div span:last-of-type {
            font-size: 12px; }
.dropdeo
.room .addRoombox {
  width: 500px;
  height: 300px;
  margin-left: 400px;
  margin-top: -500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  overflow: auto;
  position: relative;
  background: #fff;
  font-size: 14px; }
  .dropdeo
  .room .addRoombox h1 {
    font-size: 18px;
    text-align: center;
    padding: 10px; }
  .dropdeo
  .room .addRoombox .cancel {
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 16px; }
  .dropdeo
  .room .addRoombox input[name='name'] {
    width: 250px;
    height: 50px;
    border-radius: 7px;
    border: 1px solid #f9a1c7;
    margin-top: 50px;
    margin-left: 100px;
    vertical-align: bottom;
    outline: none; }
  .dropdeo
  .room .addRoombox .limitNum {
    display: inline-block;
    font-size: 10px;
    color: #b8b8b8;
    margin-left: 10px;
    vertical-align: bottom; }
  .dropdeo
  .room .addRoombox p {
    text-align: center; }
    .dropdeo
    .room .addRoombox p button {
      margin-top: 80px; }
      .dropdeo
      .room .addRoombox p button[name='delete'] {
        background: #fff;
        border: 1px solid #8baee8;
        color: #8baee8;
        margin-right: 20px; }
.dropdeo
.room .ipSetup {
  width: 500px;
  height: 400px;
  margin-left: 400px;
  margin-top: -500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  position: absolute;
  font-size: 14px;
  background: #fff;
  z-index: 100; }
  .dropdeo
  .room .ipSetup h1 {
    font-size: 18px;
    text-align: center;
    padding: 10px; }
  .dropdeo
  .room .ipSetup .cancel {
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 16px; }
  .dropdeo
  .room .ipSetup ul {
    color: #464646;
    font-size: 10px;
    padding: 30px 60px;
    position: relative; }
    .dropdeo
    .room .ipSetup ul .delete {
      display: inline-block;
      width: .32rem;
      height: .32rem;
      background: url("/src/img/delete.png") no-repeat;
      background-size: 15px;
      position: absolute;
      right: -45px;
      top: 10px; }
    .dropdeo
    .room .ipSetup ul .hide {
      display: none; }
    .dropdeo
    .room .ipSetup ul .add {
      position: absolute;
      right: 80px;
      width: 90px;
      height: 30px;
      line-height: 30px;
      background: url("/src/img/add.png") no-repeat;
      background-size: 15px;
      background-position: center left;
      text-align: left;
      text-indent: 28px;
      float: right; }
    .dropdeo
    .room .ipSetup ul li {
      margin-top: 10px; }
      .dropdeo
      .room .ipSetup ul li button {
        margin-left: 70px;
        margin-top: 90px;
        outline: none; }
    .dropdeo
    .room .ipSetup ul input:focus {
      outline: none;
      border: none;
      border: 1px solid #f9a1c7; }
    .dropdeo
    .room .ipSetup ul .roomNo {
      border: 1px solid #ccc;
      width: 80px;
      height: 30px;
      border-radius: 5px;
      margin-right: 20px; }
    .dropdeo
    .room .ipSetup ul .ipNo {
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 200px;
      height: 30px;
      text-align: center;
      margin-left: 20px; }
.dropdeo
.room .setup {
  margin-left: 121px;
  overflow: auto;
  margin-top: -650px;
  font-size: 12px; }
  .dropdeo
  .room .setup .setuptitle {
    font-size: 16px;
    padding: 10px 15px;
    display: inline-block; }
  .dropdeo
  .room .setup .roomSetup ul {
    position: relative; }
    .dropdeo
    .room .setup .roomSetup ul li:first-of-type {
      width: 95px;
      height: 40px;
      text-align: center;
      line-height: 50px;
      font-size: 15px; }
    .dropdeo
    .room .setup .roomSetup ul li:nth-of-type(2) {
      width: 500px;
      padding-left: 15px; }
      .dropdeo
      .room .setup .roomSetup ul li:nth-of-type(2) span {
        display: inline-block;
        width: 60px;
        height: 35px;
        background: #58c189;
        color: #fff;
        text-align: center;
        line-height: 35px;
        margin-right: 10px;
        margin-top: 10px;
        border-radius: 5px; }
        .dropdeo
        .room .setup .roomSetup ul li:nth-of-type(2) span:last-of-type {
          background: #fff;
          box-sizing: border-box;
          border: 1px solid #58c189;
          color: #58c189;
          font-size: 30px;
          font-weight: bold;
          vertical-align: top; }
    .dropdeo
    .room .setup .roomSetup ul li:nth-of-type(3) {
      padding-left: 18px;
      width: 500px;
      height: 30px;
      margin-top: 20px;
      font-size: 15px; }
      .dropdeo
      .room .setup .roomSetup ul li:nth-of-type(3) input {
        width: 60px;
        outline: none;
        box-sizing: border-box;
        margin: 0 15px; }
        .dropdeo
        .room .setup .roomSetup ul li:nth-of-type(3) input:focus {
          border: 1px solid #f9a1c7; }
    .dropdeo
    .room .setup .roomSetup ul li:last-of-type {
      position: absolute;
      right: 100px;
      top: 20px; }
      .dropdeo
      .room .setup .roomSetup ul li:last-of-type img {
        width: 100px;
        height: 60px;
        border: 1px solid blue;
        vertical-align: middle;
        margin-left: 22px; }
      .dropdeo
      .room .setup .roomSetup ul li:last-of-type p {
        vertical-align: middle;
        text-align: center;
        font-size: 10px;
        margin-top: 10px; }
.dropdeo
.room .days h1 {
  display: inline-block; }
.dropdeo
.room .days .openingHours {
  display: inline-block;
  margin-left: 20px;
  border-left: 1px solid #9c9c9c;
  color: #9c9c9c;
  padding-left: 20px; }
.dropdeo
.room .days .weekdays {
  width: 93%;
  margin-left: 20px;
  margin-top: 15px;
  border: 1px solid #d3e0f6;
  display: flex;
  height: 30px;
  border-radius: 5px; }
  .dropdeo
  .room .days .weekdays .weekday {
    flex: 1;
    line-height: 30px;
    text-align: center;
    border-right: 1px solid #619de3;
    color: #619de3; }
    .dropdeo
    .room .days .weekdays .weekday:last-of-type {
      border-right: none; }
.dropdeo
.room .days .addtime {
  height: 25px;
  width: 8%;
  border: 1px solid #f478ac;
  border-radius: 5px;
  margin: 0 auto;
  color: #f478ac;
  text-align: center;
  line-height: 25px;
  background: url("/src/img/down.png") no-repeat;
  background-position: center right;
  background-size: 2%; }
.dropdeo
.room .days .timewarning {
  margin-left: 15px;
  margin-top: 10px;
  color: #e74038; }
.dropdeo
.room .festival .festivalSel {
  display: flex;
  height: 20px;
  color: #9c9c9c; }
  .dropdeo
  .room .festival .festivalSel .festivalSel_li {
    flex: 1;
    text-align: center;
    line-height: 20px; }
.dropdeo
.room .festival .addtime {
  height: 25px;
  color: #f478ac;
  float: right;
  text-align: center;
  line-height: 25px;
  margin-right: 50px;
  margin-top: 20px; }

/*# sourceMappingURL=app.css.map */
