/*
* @Author: anchen
* @Date:   2017-03-23 18:13:26
* @Last Modified by:   anchen
* @Last Modified time: 2017-05-27 16:23:50
*/
@import '../lib/reset';
@import '../lib/mixin';
@import '../lib/common';



body {
    color:#444;
    height:720px;
}

#body{
    width:1280px;
    height: 720px;
    font-size:20px;
    top: 0;
    left:0;
    z-index:100;
    position: absolute;
    .title1{
        float: left;
        width:15%;
        height:60px;
        margin-left:10px;
        img{
            width:100%;
        }
        span{
            color:#fff;
            font-size:14px;
        }
    }
    .title2{
        float:right;
        width:264px;
        height:60px;
        color:#72a2d6;
        span{
            display:inline-block;
            &:first-of-type{
                width:60px;
                height:60px;
                text-align:center;
                line-height:60px;
                border-left: 1px solid #1e3045;
                img{
                    width:40%;
                }
            }
            &:nth-of-type(2),&:nth-of-type(3){
                width:100px;
                height:60px;
                text-align:center;
                line-height:60px;
                border-left: 1px solid #1e3045;
            }
        }
    }
    strong{
        color:#fff;
    }
}

// 清空按钮的上一级
.card-header{
    position:relative;
}



.downRoomSetup{
    margin-top:60px;
    display:flex;
    height:100%;
}


/* 日常及节日计费设置通用部分 */
.basicTable{
    width: 98%;
    margin-top:25px;
    font-size:14px;
    table{
        width:100%;
    }
    // 表格头部
    .table-header table tr{
        width:100%;
        height:35px;
        background:#edf1f7;
        &:first-of-type{
            border: 1px solid #d2d2d2;
        }
    }
    .table-header table tr th{
        text-align:center;
        border-right:1px solid #d2d2d2;
        border-bottom:1px solid #d2d2d2;
        color:#b5b6b7;
    }
    .tableRow{
        text-align:center;
        height:55px;
        .dropdown{
            width:80px;
            display:inline-block;
            position:relative;
            .dropdown-menu{
                position:absolute;
                background:#fff;
                height: 100px;
                overflow:auto;
                z-index:100;
            }
            button,ul{
                width:100%;
            }
            button{
                height:30px;
                background: url("../img/down.png") no-repeat 63px 12px #edf1f7;
                background-size:14px;
                border:none;
            }
            ul{
                display:none;
            }
        }
        .open{
            ul{
                display:block;
            }
        }
        td{
            border:1px solid #d2d2d2;
            border-top:none;
            line-height:30px;
        }
        input{
            width:82px;
            height:25px;
            font-size:14px;
            border:1px solid #d2d2d2;
        }
        button{
            border:none;
            background:#fff;
            font-size: 14px;
        }
        .rowSave{
            button{
                color:#5b90dc;
                text-decoration:underline;
                margin-right:2px;
            }
        }
        .rowChange{
            color:#f478ac;
            text-decoration:underline;
        }
    }
    .table-body{
        tr{
            &:last-of-type{
                border: 1px solid #d2d2d2;
                border-top:none;
            }
        }
    }
    .hidden{
        display:none;
    }

    .timetitle,.pricetitle,.datetitle{
        display:inline-block;
        flex:1;
        text-align:center;
        color:#9c9c9c;
    }

    .totledetail{
        display:flex;
    }
    .date,.time,.price{
        flex:1;
    }
    .date{
        height:150px;
        border:1px solid #f9a1c7;
        margin-top:15px;
        text-align:center;
        line-height:150px;
        color:#f9a1c7;
    }
            .time{
                text-align:center;
                .timedetail{
                    margin-top:25px;
                    input{
                        width:70px;
                        height:18px;
                        border:1px solid #9c9c9c;
                        border-radius:3px;
                        background:url('../img/down.png') no-repeat;
                        background-position:center right;
                        background-size:20%;
                        &:focus{
                            border:1px solid #f9a1c7;
                        }
                        &:first-of-type{
                            margin-right:10px;
                        }
                        &:last-of-type{
                            margin-left:10px;
                        }
                    }
                }
            }
            .price{
                text-align:center;
                .pricedetail{
                    margin-top:25px;
                    input{
                        width:80px;
                        height:18px;
                        border:1px solid #9c9c9c;
                        border-radius:3px;
                        &:focus{
                            border:1px solid #f9a1c7;
                        }
                        &:first-of-type{
                            margin-right:10px;
                        }
                        &:last-of-type{
                            margin-left:10px;
                        }
                    }
                }
            }
        }


// 房间管理room
.room{
    height:660px;
    .setup{
        font-size:12px;
        width:1170px;
        overflow: auto;
        background:#edf1f7;
        .roomSetup{
            position:relative;
            background:#fff;
            font-size:16px;
            padding:0 15px 20px 15px;
            .cursor{
                @extend .addtime;
                float:right;
                margin-right:23px;
                margin-top: 12px;
            }
            ul{
                li{
                    &:first-of-type{
                        width:85px;
                        height:40px;
                        text-align:center;
                        line-height:50px;
                    }
                    &:nth-of-type(2){
                        width:500px;
                        span{
                            display:inline-block;
                            width:55px;
                            height:45px;
                            background:#58c189;
                            color:#fff;
                            text-align:center;
                            line-height:45px;
                            margin-right:10px;
                            margin-top:10px;
                            border-radius:5px;
                            overflow:hidden;
                            &:last-of-type{
                                background:#fff;
                                box-sizing:border-box;
                                border:1px solid #58c189;
                                color:#58c189;
                                font-size:45px;
                                line-height:50px;
                                vertical-align:top;
                            }
                        }
                    }
                    &:nth-of-type(3){
                        width:500px;
                        height:30px;
                        margin-top:30px;
                        input{
                            width:65px;
                            height:30px;
                            border-radius:5px;
                            box-sizing:border-box;
                            background:#edf1f7;
                            text-indent:5px;
                            border:none;
                            margin: 0 15px;
                            &:focus{
                                border:1px solid #f9a1c7;
                            }
                        }
                    }
                }
            }
        }
    }
    .days{
        position:relative;
        background:#fff;
        padding: 0 15px 20px 15px;
        margin-top:10px;
        .daysTitle{
            button{
                background:#fff;
            }
        }
        h1{
            display:inline-block;
        }
        .openingHours{
            width:210px;
            line-height:14px;
            font-size:14px;
            position:absolute;
            top: 18px;
            right: 770px;
            border-left:1px solid #9c9c9c;
            color:#9c9c9c;
            padding-left:20px;
            button{
                float:right;
                background:#fff;
                margin-right:5px;
            }
        }
        .weekdays{
            width:98%;
            margin-top:18px;
            border:1px solid #5b90dc;
            display:flex;
            height:38px;
            line-height:38px;
            border-radius:5px;
            font-size:16px;
            .weekday{
                flex:1;
                text-align:center;
                border-right: 1px solid #5b90dc;
                color:#619de3;
                position:relative;
                &:last-of-type{
                    border-right:none;
                }
            }
            .active{
                background:#5b90dc;
                color:#fff;
                span{
                    display:inline-block;
                    width: 0;
                    height: 0;
                    border-left: 8px solid transparent;
                    border-right: 8px solid transparent;
                    border-top: 10px solid #5b90dc;
                    position:absolute;
                    bottom:-10px;
                    left: 70px;
                }
            }
        }
        .timewarning{
            margin-top:10px;
            color:#e74038;
        }
    }
    .festival{
        .festivalSel{
            display:flex;
            height:20px;
            color:#9c9c9c;
            .festivalSel_li{
                flex:1;
                text-align:center;
                line-height:20px;
            }
        }
        .festivalPrice{
            display: inline-block;
            border: 1px solid #d2d2d2;
            width: 80px;
            height:30px;
        }
    }
}


// 包房计费设置
.room_meal{
    margin-top:10px;
    background:#fff;
    padding:0 15px 20px 15px;
    box-sizing:border-box;
    &:first-of-type{
        margin-top:10px;
    }
    >div{
        margin-top: 18px;
    }
    // 编辑好的套餐
    .edited{
        width:98%;
        height:80px;
        padding:12px;
        background:#f8f9fc;
        border:1px solid #d2d2d2;
        font-size:16px;
        margin-top:20px;
            li{
                width:33%;
                float:left;
                text-align:left;
                border-right:1px solid #d2d2d2;
                &:nth-of-type(2){
                    padding:12px;
                }
                &:nth-of-type(2){
                    border-right:none;
                }
                &:last-of-type{
                    border-right:none;
                    text-align:center;
                    height: 50px;
                    line-height: 50px;
                    span{
                        display:inline-block;
                        width: 70px;
                        height: 30px;
                        border: 1px solid #444;
                        border-radius: 5px;
                        color: #444;
                        line-height: 30px;
                        margin-right:5px;
                        &:last-of-type{
                            margin-right:0;
                        }
                    }
                    .active{
                        background: #e1e5ea;
                    }
                }
                p{
                    &:nth-of-type(2){
                        color:#999;
                        margin-top:5px;
                    }
                }
            }
    }
    // 正在编辑的套餐
    .editing{
        margin-top:20px;
        width:98%;
        border:1px solid #d2d2d2;
        font-size:16px;
        position:relative;
        .mealName{
            input{
                width:210px;
            }
        }
        .mealPrice{
            input{
                width:100px;
            }
        }
        .selectDrinks{
            label{
                display:inline-block;
                width:115px;
                text-align:right;
            }
        }
        p{
            box-sizing:border-box;
            padding-left:15px;
            line-height:50px;
            label{
                display:inline-block;
                width:100px;
                text-align:right;
                margin-right:10px;
            }
            input{
                border:none;
                background:#edf1f7;
                width:120px;
                height:30px;
                outline:none;
                text-indent:5px;
                color:#999;
                border-radius:5px;
            }
            &:first-of-type{
                background:#f8f9fc;
                border-bottom:1px solid #d2d2d2;
                span{
                    color:#56b6e9;
                }
                button{
                    float:right;
                    @extend .littleBtn;
                    margin-right:20px;
                    margin-top:10px;
                }
            }
            .cursor{
                padding:1px 25px;
                border:1px solid #d2d2d2;
                outline:none;
                background:#fff;
                margin-right:10px;
                line-height:35px;
                font-size:16px;
            }
            .active{
                border:1px solid #f478ac;
                color:#f478ac;
                position:relative;
                span{
                    display:inline-block;
                    width: 0;
                    height: 0;
                    border-top: 20px solid #f478ac;
                    border-left: 20px solid transparent;
                    position:absolute;
                    top:0;
                    right:0;
                }
            }
        }
    }
    .addMeal{
        @extend .addtime;
        margin-left:0;
        margin-top:15px;
    }
    .addtime{
        margin-left:0;
    }
    .checkoutDrinks{
        border-bottom:none !important;
        span{
            color:#fb60ab !important;
        }
    }
}

// 遮罩层修改房型
.dialogPop{
    width:500px;
    height:300px;
    margin-left:400px;
    margin-top: 100px;
    box-shadow:0 0 10px rgba(0, 0, 0, .5);
    border-radius:3px;
    overflow:auto;
    background:#fff;
    font-size:14px;
    .dialogPopTitle{
        width:100%;
        height:15px;
        font-size: 16px;
        text-align: center;
        padding: 10px 0;
    }
    // 房型名字
    input{
        display:block;
        width:250px;
        height:30px;
        border-radius:7px;
        border:1px solid #f9a1c7;
        margin-top:20px;
        margin-left:130px;
        text-align:center;
    }
    button{
        @extend .littleBtn;
        margin-top:20px;
        margin-right:10px;
        &:first-of-type{
            margin-left:100px;
        }
    }
}




// 遮罩层ip设置
.ipSetup{
        width:746px;
        height:530px;
        margin:110px auto;
        box-shadow:0 0 10px rgba(0, 0, 0, .5);
        border-radius:3px;
        position:relative;
        font-size:14px;
        background:#fff;
        overflow:auto;
        h1{
            font-size:18px;
            text-align:center;
            padding:10px;
        }
        ul{
            color:#464646;
            font-size: 10px;
            padding:30px 60px 0 60px;
            position:relative;
            text-align:center;
            .delete{
                display:inline-block;
                width:32px;
                height:32px;
                background: url('../img/delete.png') no-repeat;
                background-size:15px;
                position:absolute;
                right:-45px;
                top: 10px;
            }
            .hide{
                display:none;
            }
            li{
                margin-top:20px;
            }
            input{
                &:focus{
                    border:none;
                    border:1px solid #f9a1c7;
                }
            }
            .roomNo{
                border: 1px solid #ccc;
                width: 120px;
                height: 30px;
                border-radius: 5px;
                margin-right: 20px;
                background:#f1f2f8;
            }
            .ipNo{
                border: 1px solid #ccc;
                border-radius: 5px;
                width: 250px;
                height: 30px;
                text-align:center;
                margin-left:20px;
                background:#f1f2f8;
            }
        }
        .roomNamePopleft{
            display:inline-block;
            width:80px;
            height:30px;
            margin: 50px 0 30px 200px;
            &:last-of-type{
                margin-top:0;
            }
        }
        .roomNamePopright{
            width:200px;
            height:30px;
            border-radius:5px;
            background:#f1f2f8;
            border:1px solid #f1f2f8;
            &:focus{
                border:1px solid #fb60ab;
            }
            &:first-of-type{
                margin-right:200px;
            }
        }
        button{
            @extend .pinkBtn;
            margin:56px 0 15px 240px;
        }
        .roomNamePopdelete{
            margin:56px 20px 15px 120px;
            &:last-of-type{
                margin-left:0;
            }
        }
    }





// 节日计费设置
.festival{
    width:100%;
    background:#fff;
    margin-top:10px;
    padding:0 15px 20px 15px;
    .card-body{
        width:98%;
    }
    .basicTable{
        margin:0;
        width:100%;
        .table-header{
            display:none;
        }
        .table-body{
            tr{
                &:last-of-type{
                    border-top: none;
                    border-bottom:none;
                    td{
                        width : 656px;
                    }
                }
            }
            .rowSave{
                button{
                    &:first-of-type{
                        display:none;
                    }
                }
            }
            .addtime{
                margin:10px 0;
                float:none;

            }
        }
    }
    .festivalTable{
        font-size:14px;
        margin-top:18px;
        .table-header{
            border: 1px solid #d2d2d2;
            height:37px;
            .tableTitle{
                border-right: 1px solid #d2d2d2;
                &:last-of-type{
                    border-right:none;
                }
            }
            table{
                width:100%;
                .tableTitle{
                    text-align:center;
                    height:35px;
                    color: #b5b6b7;
                    background:#edf1f7;
                }
            }
        }
        tr{
            &:last-of-type{
                td{
                    &:last-of-type{
                        button{
                            margin-top:20px;
                            margin-left:0;
                        }
                    }
                }
            }
        }
        .festivalTableRow{
            button[data-date= "设置日期"]{
                border:none;
            }
            td{
                &:first-of-type{
                    width:219px;
                    border-left:1px solid #d2d2d2;
                    border-bottom:1px solid #d2d2d2;
                    text-align:center;
                    button{
                        background-color:#fff;
                        border:none;
                    }

                }
            }
            #dLabel{
                background-color:#edf1f7;
            }
            >td{
                &:nth-of-type(2){
                    width:1px;
                }
                &:last-of-type{
                    width:219px;
                    text-align:center;
                    border-right: 1px solid #d2d2d2;
                    border-bottom: 1px solid #d2d2d2;
                    button{
                        background: #fff;
                        border: none;
                        color: #5b90dc;
                        text-decoration: underline;
                    }
                }
            }
            .tableRow{
                td{
                    width:219px;
                }
            }        }
    }
    .card-Item{
        margin-top: 20px;
    }
}


// 日期遮罩层
.Cal__Container__root{
    margin:0 auto;
}




// 包含酒水弹窗
.includeDrinks{
    width: 746px;
    height: 530px;
    margin:110px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    font-size: 14px;
    position: relative;
    background:#fff;
    h1{
        text-align:center;
        font-size:18px;
        padding:10px;
    }
}
// 包含酒水下边详细部分
.includeDrinksDetail{
    display:flex;
    width: 650px;
    height: 400px;
    margin: 10px auto;
    border:1px solid #e5e8ec;
    >div{
        width:520px;
        height:100%;
        overflow:auto;
        >div{
            width:100%;
        }
    }
}
// 包含酒水弹窗左部品类
.drinksDategory{
    width:130px;
    background-color:#eef2f7;
    overflow: auto;
    li{
        text-align:center;
        padding:20px;
    }
    .active{
        background-color:#e1e5ea;
        color:#fb60ab;
    }
}
// 包含酒水弹窗中间及右部的商品和操作部分
.drinksProductsAnddrinksOperate{
    display:flex;
    border:1px solid #eef2f7;
    margin: 10px 10px 0 10px;
    padding-bottom:10px;
    .drinksProducts{
        flex:1;
        flex-grow: 1.5;
        border-right:1px solid #eef2f7;
        >span{
            display: inline-block;
            &:first-of-type{
                margin: 15px 10px 0 20px;
                line-height: 1;
            }
            &:last-of-type{
                margin-top: 16px;
            }
        }
        .nameAndSpec{
            display:inline-block;
            vertical-align:top;
            width:190px;
            margin-top:18px;
        }
    }
    .drinksOperate{
        flex:1;
        padding: 15px 0 0 10px;
        span{
            &:first-of-type{
                input{
                    width: 75px;
                    height: 23px;
                    background: #edf1f7;
                    border: none;
                    font-size:12px;
                    text-align:center;
                    border-radius:5px;
                }
            }
            &:last-of-type{
                color:#56b6e9;
                margin-left:20px;
            }
        }
    }
}
// 确认按钮
.drinksSubmit{
    @extend .pinkBtn;
    position:absolute;
    bottom:20px;
    left:250px;
}
// 选择成功的酒水
.selectDrinks{
    margin-top: 30px;
    padding-bottom: 30px;
    >div{
        &:first-of-type{
            width:100px;
        }
    }
    // 包含酒水部分
    label{
        margin-right:10px;
        vertical-align:top;
    }
    .foods{
        width:600px;
        display:inline-block;
        margin-top:-30px;
        li{
            width:550px;
            background-color:#edf1f7;
            border-radius:5px;
            margin-top:5px;
            position:relative;
            float: left;
            margin-left: 125px;
            div{
                display:inline-block;
                height:100%;
                padding: 15px;
                .nameAndspec{
                    display:inline-block;
                    width:220px;
                    vertical-align:top;
                }
                .priceAndunit{
                    display:inline-block;
                    width:160px;
                    margin-left:50px;
                }
            }
            .delete{
                display: inline-block;
                width: 24px;
                height: 24px;
                background: url('../img/delete3.png') no-repeat;
                background-size:24px;
                position:absolute;
                top:18px;
                right:-48px;
            }
        }
    }
}
// 选择酒水部分的添加按钮
.addMealDetailBtn{
    width:100px;
    padding:0;
    float: left;
    margin-left: 110px;
    margin-top: -54px;
    .addMeal{
        display:inline-block;
        margin-top:13px;
    }
}
// 酒水添加套餐按钮
.addDrinksMeal{
    margin-top:15px;
}



//主页链接的弹框
//各种配置
.homeConfiguration{
    margin: 185px auto;
    width: 1000px;
    height: 200px;
    background-color:#fff;
    display:flex;
    >div{
        margin:45px auto;
    }
    a{
        display:inline-block;
        width:120px;
        height:120px;
        margin-right:35px;
    }
    .roomSet{
        background: url("../img/roomManagement1.png") no-repeat;
        background-size:100%;
        &:active{
            background: url("../img/roomManagement2.png") no-repeat;
            background-size:100%;
        }
    }
    .drinksSet{
        background:url('../img/drinksManagement1.png') no-repeat;
        background-size:100%;
        &:active{
            background: url('../img/drinksManagement2.png') no-repeat;
            background-size:100%;
        }
    }
    .financialSet{
        background:url('../img/financialManagement1.png') no-repeat;
        background-size:100%;
        &:active{
            background: url('../img/financialManagement2.png') no-repeat;
            background-size:100%;
        }
    }
    .collectMoney{
        background:url('../img/drinksShop1.png') no-repeat;
        background-size:100%;
        &:active{
            background: url('../img/drinksShop2.png') no-repeat;
            background-size:100%;
        }
    }
    .orderVerification{
        background:url('../img/orderVerification1.png') no-repeat;
        background-size:100%;
        margin-right:0;
        &:active{
            background: url('../img/orderVerification2.png') no-repeat;
            background-size:100%;
        }
    }
    .close{
        display:none;
    }
}

// 无酒水去设置酒水
.noDrinks{
    height: 50px;
    width: 200px;
    border-bottom:none !important;
    span{
        color:#444 !important;
    }
    a{
        display: inline-block;
        width: 74px;
        height: 30px;
        border-radius: 5px;
        background: #bababa;
        color: #fff;
        font-size: 16px !important;
        line-height: 30px;
        text-align: center;
        margin-left: 10px;
    }
}


// 主页
.accountManagement{
    font-size:16px;
    width:850px;
    height:580px;
    background:#fff;
    margin:100px auto;
    box-shadow:0 0 10px rgba(0, 0, 0, .5);
    border-radius:3px;
    overflow:auto;
    padding-bottom:20px;
    input{
        border:none;
        height:30px;
        margin-top:-5px;
        border-radius:5px;
        font-size:14px;
    }
    .personInput{
        border:none;
        width:500px;
    }
    .accountTime{
        width:120px;
        text-align: center;
    }
    h1{
        height:80px;
        font-size:18px;
        line-height:80px;
        text-align:center;
        border-bottom: 1px solid #eeedeb;
    }
    >p,>div{
        border-bottom:1px solid #eeedeb;
        padding:15px 50px 15px 50px;
        >span{
            float: right;
            color: #5b90dc;
            text-decoration: underline;
        }
    }
    form{
        width:100%;
        height:150px;
        p{
            width:310px;
            padding: 0 0 10px 30px;
            position:relative;
            margin-top:5px;
            &:first-of-type{
                padding-top:20px;
            }
            input{
                float:right;
                width:200px;
                background:#edf1f7;
                color:#b5b5b5;
                text-indent:10px;
            }
            span{
                position:absolute;
                right:0;
                font-size:12px;
                display:inline-block;
                height:16px;
                width:80px;
                border-left:1px solid #ababab;
                padding-left:10px;
                line-height:16px;
                color:#fb60ab;
                margin-top:4px;
            }
        }
        button{
            width:80px;
            height:25px;
            border:none;
            border-radius:5px;
            color:#fff;
            background:#fb60ab;
            text-align:center;
            line-height:25px;
            margin: 15px 0 0 110px;
        }
    }
    >button{
        width:200px;
        height:40px;
        text-align:center;
        line-height:40px;
        border:1px solid #5b90dc;
        color:#5b90dc;
        border-radius:5px;
        margin:60px 0 0 330px;
        background:#fff;
    }
}

// 点击修改以后的input的编辑样式
.modifyAccount{
    background:#edf1f7;
}

// 错误报告
.wrong{
    height:660px;
    margin-top:60px;
    @include bg('../img/bug.png');
    background-position:center 200px ;
    background-size:200px;
}
// 返回上一级
.back{
    width:100px;
    height:25px;
    color:#2064ef;
    border:1px solid #2064ef;
    background:#eef2f7;
    border-radius:20px;
    margin:350px 590px;
}
