/*
* @Author: anchen
* @Date:   2017-04-22 15:07:18
* @Last Modified by:   anchen
* @Last Modified time: 2017-05-31 18:04:13
*/
@import '../lib/reset';
@import '../lib/mixin';
@import '../lib/common';

// 房间状态
.roomState{
    height:660px;
    margin-top: 60px;
    color:#444;
    .downContainer{
        display: flex;
        justify-content:space-between;
        height:660px;
        .leftCon{
            width:760px;
            background-color: #eceef3;
            .roomCard{
                height:100%;
                .roomCard-body{
                    overflow: auto;
                }
            }
            // 标题
            .leftRoomState{
                display:flex;
                height: 50px;
                border-bottom: 1px solid #fff;
                line-height: 60px;
                li{
                    margin-right:40px;
                    font-size:16px;
                    .checkRoomState{
                        display: inline-block;
                        width: 15px;
                        height: 15px;
                        border-radius: 5px;
                        margin-right:5px;
                    }
                    &:first-of-type{
                        margin-left:82px;
                    }
                }
            }
            // 包房空闲内容
            .roomCellCollection{
                padding: 10px 50px 10px 50px;
                height:609px;
                .roomCell{
                    color: #fff;
                    border-radius:5px;
                    width: 110px;
                    height:110px;
                    margin:10px 0 5px 20px;
                    position:relative;
                    display:inline-block;
                    .roomNumber{
                        text-align: right;
                        padding:8px 10px 0 0;
                        font-size:14px;
                    }
                    .cellCenter{
                        text-align:center;
                        font-size: 18px;
                        margin-top:15px;
                        font-weight:bold;
                    }
                    .cellBottom{
                        position:absolute;
                        bottom:10px;
                        font-size:12px;
                        display:flex;
                    }
                    .roomDetail{
                        margin:0 5px 0 2px;
                    }
                }
                .active{
                    width:120px;
                    height:120px;
                    margin:5px -5px 0px 15px;
                    border:3px solid #fff;
                    box-shadow:0 0 10px #9c9c9c;
                    .roomNumber{
                        font-size:16px;
                    }
                    .cellCenter{
                        font-size:20px;
                    }
                    .cellBottom{
                        font-size:14px;
                    }
                }
            }
        }
        .rightCon{
            width:510px;
            height:660px;
            margin-left: 10px;
            form{
                color:red;
                .boxState{
                    .roomButton{
                        margin-left: 100px;
                    }
                }
            }
            .roomCard{
                background-color: #eceef3;
                height:330px;
                overflow:auto;
                &:first-of-type{
                    margin-bottom:10px;
                    height:320px;
                }
                &:nth-of-type(2){
                    .roomCard-body{
                        height:279px;
                        overflow:auto;
                    }
                }
                .rightTitle{
                    text-align:center;
                    font-size: 18px;
                    height:50px;
                    line-height:50px;
                    border-bottom:1px solid #fff;
                }
                .roomTable{
                    table{
                        width:400px;
                        border:1px solid #afafaf;
                        margin: 10px auto;
                        font-size:16px;
                        tr{
                            border-bottom:1px solid #afafaf;
                            height:40px;
                            &:last-of-type{
                                border-bottom:none;
                            }
                            td{
                                &:first-of-type{
                                    width:150px;
                                    color:#999;
                                    text-align:center;
                                    border-right:1px solid #afafaf;
                                }
                                &:last-of-type{
                                    text-indent:20px;
                                }
                            }
                        }
                    }
                }
                // 包房操作
                .roomItems{
                    height:100%;
                    position:relative;
                    ul{
                        overflow:auto;
                        padding:10px;
                        .operateItem{
                            display:inline-block;
                            a{
                                display:inline-block;
                                width:80px;
                                height:35px;
                                font-size:16px;
                                text-align:center;
                                line-height:35px;
                                background-color:#fff;
                                border:1px solid #babcc0;
                                border-radius:5px;
                                margin:10px 0 0 25px;
                            }
                            .active{
                                background:#d2d5db;
                                color:#fff;
                            }
                        }
                    }
                    .hide{
                        display:none;
                    }
                    .editReason{
                        button{
                            display:block;
                            width: 85px;
                            height: 35px;
                            border: none;
                            border-radius: 5px;
                            background: #f478ac;
                            color: #fff;
                            margin: 10px 0 0 380px;
                        }
                    }
                }
            }
        }
    }
}


// 开台
.openRoom{
    height:660px;
    margin-top:60px;
    .openRoomDown{
        display:flex;
        height:660px;
        .leftCon{
            width:760px;
            height:660px;
            font-size:14px;
            overflow:auto;
            .detail-card-title{
                height:50px;
                line-height:60px;
                border-bottom:2px solid #fff;
                padding-left:30px;
                font-size:16px;
                color:#999;
            }
            .detail-card{
                background-color: #eceef3;
                margin-bottom:10px;
            }
            .detail-card-body{
                ul{
                    padding:5px 30px;
                    li{
                        width: 300px;
                        height: 40px;
                        line-height: 40px;
                        display:inline-block;
                    }
                }
            }
            .table-body{
                thead{
                    background: #bfbfbf;
                    color: #fff;
                    tr{
                        th{
                            text-align:center;
                            &:first-of-type{
                                width:130px;
                            }
                        }
                    }
                }
                tbody{
                    tr{
                        td{
                            text-align:center;
                        }
                    }
                }
                table{
                    width: 100%;
                    line-height: 26px;
                }
            }
            .detail-card-footer{
                p{
                    height:40px;
                    line-height:40px;
                    border-top:1px solid #fff;
                    text-align:right;
                    padding-right:20px;
                    .receivable{
                        margin-left:30px;
                    }
                }
            }
            .roomDetail-footer{
                margin-top:-10px;
                .allReceivable{
                    height:40px;
                    line-height:40px;
                    background:#eceef3;
                    border-top:5px solid #dfe1e6;
                    text-align:right;
                    padding-right:20px;
                }
            }
        }
        .rightCon{
            width:510px;
            height:660px;
            margin-left:10px;
            background-color: #eceef3;
            font-size: 16px;
            h3{
                height: 50px;
                border-bottom: 2px solid #fff;
                text-align: center;
                line-height: 50px;
            }
            form{
                .boxState{
                    width:440px !important;
                    text-align:center;
                    .roomButton{
                        margin-right:50px !important;
                        &:last-of-type{
                            margin-right:0 !important;
                        }
                    }
                }
            }
            .consumeType{
                padding:10px 30px;
                position:relative;
                height:610px;
                >div{
                    margin-top:10px;
                }
                .boxContain{
                    display:inline-block;
                    width: 270px;
                    height: 35px;
                    background:url('../img/openRoomDown.png') no-repeat #d2d5db 250px center;
                    background-size:15px;
                    border-radius: 5px;
                    text-indent: 25px;
                    line-height: 35px;
                }
                .boxState{
                    display:inline-block;
                    width:300px;
                    li{
                        width:130px;
                        height:35px;
                        border-radius:5px;
                        background:#fff;
                        text-align:center;
                        line-height:35px;
                        border:1px solid #babcc0;
                        display:inline-block;
                        margin-right:10px;
                        position:relative;
                        &:last-of-type{
                            margin-right:0;
                        }
                    }
                }
                .selectTimeLength{
                    height:300px;
                    background:#e1e2e6;
                    margin-top:5px;
                    border-radius:5px;
                        .calcTime {
                        padding:10px;
                        border-radius:5px;
                        height:200px;
                        border-bottom:1px solid #bcbdc1;
                        overflow:auto;
                        .boxState{
                            .roomButton{
                                width:310px;
                                height:35px;
                                line-height:35px;
                                margin:5px 50px;
                                position:relative;
                            }
                        }
                        div{
                            margin-top:20px;
                            button{
                                width: 40px;
                                height: 35px;
                                border: 1px solid #e1e2e6;
                                font-size: 26px;
                                background: #fff;
                            }
                            input{
                                width:80px;
                                height:35px;
                                margin-left:10px;
                                text-align:center;
                            }
                            span{
                                margin-left:5px;
                                margin-right: 10px;
                            }
                        }
                    }
                    .openRoomTime{
                        height:100px;
                        padding:10px 50px;
                        text-align:center;
                        p{
                            width:120px;
                            display:inline-block;
                            &:nth-of-type(2){
                                width:60px;
                                vertical-align:middle;
                            }
                            span{
                                display:inline-block;
                                width:120px;
                            }
                            input{
                                width:120px;
                                height:35px;
                                border:none;
                                border-radius:5px;
                                background:#d2d5db;
                                margin-top:5px;
                                text-align:center;
                            }
                        }
                        .startToEndTime{
                            font-size:18px;
                        }
                    }
                }
                label{
                    display: inline-block;
                    width: 100px;
                    height: 30px;
                    text-align: right;
                    line-height:30px;
                    margin-right: 5px;
                }
                .checkPay1{
                    text-align:left;
                }
                .checkPay2{
                    text-align:right;
                }
            }
            .payment{
                width:150px;
                height:35px;
                text-align:center;
                appearance:none;
                -webkit-appearance:none;
                background: url("../img/openRoomDown.png") no-repeat 130px center #d2d5db;
                background-size:12px;
                padding: 0 12px 0 20px;
                border:none;
                text-align:center;
                border-radius:5px;
            }
            .payType{
                margin:20px 0;
                .payKind1{
                    width:72px;
                    margin-right:10px;
                }
            }
            .settleDiscount{
                display:inline-block;
                width:200px;
                height:60px;
                vertical-align:middle;
                input{
                    width:80px;
                    height:30px;
                    margin-right:5px;
                    background:#d2d5db;
                    border:none;
                    border-radius:5px;
                    text-align:center;
                }
                .feeDiscount{
                    font-size:12px;
                    padding-left:50px;
                }
                .payKind2{
                    width:40px;
                    margin-right:10px;
                }
            }
            .remark{
                margin-left:0;
            }
            /*收银开台部分点击结账等按钮*/
            .checkOutBtn{
                position:absolute;
                bottom:30px;
                width:120px;
                height:35px;
                border:1px solid #5b90dc;
                color:#5b90dc;
                background:#fff;
                border-radius:5px;
            }
            .checkOutBtnBack{
                left:35px;
            }
            .checkOutBtnThreaten{
                left:190px;
            }
            .checkOutBtnComfirm{
                left:345px;
                color:#fff;
                background:#fb60ab;
                border:none;
            }
        }
    }
}

// 购物车界面
.shopping{
    display:flex;
    .commodity{
        width:230px;
        margin-left:10px;
        background:#eceef3;
        overflow: auto;
        ul{
           li{
                width:230px;
                padding:10px;
                border-bottom:2px solid #fff;
            }
        }
        .commodityDetail{
            display: inline-block;
            width: 100%;
            height: 36px;
            font-size: 16px;
            padding: 0 40px 0 10px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            background:url('../img/downPoint.png') no-repeat;
            background-size:10px;
            background-position: right 5px;
        }
        .commodityDetailPrice{
            .detailPriceCount{
                    display: inline-block;
                    color: #72a2d6;
                    border: 1px solid #72a2d6;
                    width: 80px;
                    height:20px;
                    text-align: center;
                    line-height:20px;
            }
            .detailPrice{
                float: right;
                margin-right: 10px;
                color: #eb589f;
                font-weight:bold;
            }
        }
    }
    .shoppingCart{
        width:390px;
        margin-left:10px;
        background:#eceef3;
        .shoppingCartList{
            display: flex;
            height: 25px;
            line-height: 25px;
            background: #bfbfbf;
            color: #fff;
            li{
                padding:0 22px;
            }
        }
        .shoppingCartDetail{
            height:600px;
            overflow:auto;
            .buyItem{
                height:50px;
                span{
                    display:inline-block;
                    width:72px;
                    height:30px;
                    text-align:center;
                    line-height:30px;
                    vertical-align: top;
                }
                .name{
                    width:100px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    padding-left:10px;
                }
                .count{
                    input{
                        width:40px;
                        height:20px;
                        background:#d2d5db;
                        border:none;
                        text-align:center;
                        border-radius:5px;
                    }
                }
            }
        }
        .cartTotalPrice{
            height: 35px;
            line-height: 35px;
            background:#fff;
            border:1px solid #bfbfbf;
            border-top:none;
            span{
                display: inline-block;
            }
            .empty{
                width: 55px;
                height: 23px;
                line-height: 20px;
                border: 1px solid #c9c9c9;
                border-radius: 5px;
                text-indent: 20px;
                background:url('../img/empty.png') 2px center no-repeat;
                background-size:15px;
                margin-left:10px;
            }
            .totalPrice{
                margin-left:200px;
            }
        }
    }
}