/*
* @Author: anchen
* @Date:   2017-04-26 14:10:22
* @Last Modified by:   anchen
* @Last Modified time: 2017-05-31 18:28:41
*/
// @import '../lib/reset';
// @import '../lib/mixin';


body {
    font-size: 18px;
    font-family: "黑体";
}
html, body,#body{
    width: 1280px;
    height: 720px;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 5px;
 }
 /* 滚动槽 */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    @include radius(10px);
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    @include radius(10px);
    background: rgba(255,255,255,0.7);
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}


// 粉颜色
$pink: #fb61aa;

// 选择按钮 伪类
.checkBefo{
    display: inline-block;
    @extend .W-15P;
    height: 15px;
    border: 1px solid #444;
    @include radius(50%);
    vertical-align: middle;
    margin-right:5px;
}
.check-icon{
    border-color: $pink;
    background-color: $pink;
    position:relative;
}
.check-icon:after{
    content:"";
    display: block;
    border: 1px solid #fff;
    transform: rotate(-45deg);
    border-width: 0 0 1px 1px;
    width: 10px;
    height: 5px;
    position:absolute;
    top: 2px;
    left: 2px;
}


// 粉红色框的添加时段等
.addtime{
    height:28px;
    width:80px;
    border:1px solid #f478ac;
    @include radius(5px);
    margin-left:46%;
    color:#f478ac;
    text-align:center;
    line-height:28px;
    background:#fff;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size:12px;
}


/* 粉红色大按钮 */
.pinkBtn {
    width:250px;
    height:35px;
    background-color: $pink;
    @include radius(5px);
    @extend .bdnoBlink;
    font-size:16px !important;
    @extend .cl-white;
    border: none;
}


/*小按钮*/
.littleBtn{
    width:130px;
    height:30px;
    font-size:14px;
    border:none;
    @extend .cl-white;
    @include radius(5px);
    @extend .bdnoBlink;
    background-color: $pink;
    font-weight:bold;
}

/*删除  隐藏*/
.delete{
    display:inline-block;
    width:32px;
    height:32px;
    background: url('../img/delete.png') no-repeat;
    background-size:15px;
    position:absolute;
    top: 10px;
}
.delete3{
    display:inline-block;
    width:32px;
    height:32px;
    background: url('../img/delete3.png') top center no-repeat;
    background-size:15px;
    position:absolute;
    top: 10px;
}
.hide{
    display:none;
}
/*显示样式*/
.block{
    display:block;
}

 /*Title组件*/
.title{
    width:1280px;
    height:60px;
    font-size:20px;
    position: fixed;
    top: 0;
    left:0;
    z-index:100;
    text-align:center;
    background: #29405b;
    background-size:25px;
    >a{
        color:#fff;
        font-size:16px;
        float: left;
        width:150px;
        height:30px;
        line-height:30px;
        margin: 18px 0 0 12px;
        background:url('../img/personalCenter1.png') no-repeat 10px center;
        background-size:25px;
    }
    // 标题和时间
    .titleTitle{
        width:200px;
        height:60px;
        margin-left: 105px;
        display:inline-block;
        strong{
            font-size:18px;
            display: block;
            height:30px;
            line-height:40px;
        }
        .titleTime{
            color:#fff;
            font-size:12px;
            margin-left:10px;
            display: block;
            line-height:30px;
        }
    }
    .titleRight{
        float:right;
        width:300px;
        height:60px;
        color:#72a2d6;
        span{
            display:inline-block;
            vertical-align:top;
        }
        // 主页
        .titleHomePage{
            width:120px;
            height:60px;
            border-left: 1px solid #1e3045;
            background:url('../img/homePage1.png') no-repeat center;
            background-size:70px;
        }
        // 收银
        .titleCashier{
            display:inline-block;
            color:#72a2d6;
            font-size:19px;
            width:90px;
            height:60px;
            text-align:center;
            line-height:60px;
            border-left: 1px solid #1e3045;
        }
    }
    /*重载*/
    .reload{
        width: 90px;
        height: 60px;
        line-height: 60px;
        border-left: 1px solid #1e3045;
    }
}


// 清空按钮的上一级
.card-header{
    position:relative;
}
// 清空设置
.clear{
    z-index:100;
    font-size: 12px;
    float:right;
    margin-right: 30px;
    width:100px;
    height:30px;
    line-height:30px;
    text-align:center;
    color:#9c9c9c;
    border:1px solid #9c9c9c;
    border-radius:5px;
    background-color:#fff;
    position: absolute;
    right: 0;
    top: 10px;
}


// 管理的题目
.setuptitle{
    color:#444;
    width:100%;
    height:50px;
    font-size:18px;
    box-sizing:border-box;
    border-bottom: 1px solid #edf1f7;
    line-height: 50px;
}

// 房间内部的警告
// 失败
.failWarning{
    display: block;
    width: 1000px;
    height: 32px;
    margin: 0 auto;
    font-size: 12px;
    line-height: 32px;
    background: #fef6d1;
    color: red;
    border: 1px solid red;
    margin-top: 10px;
    z-index:100000;
}
// 成功
.successWarning{
    display: block;
    width: 1000px;
    height: 32px;
    margin: 0 auto;
    font-size: 12px;
    line-height: 32px;
    background: #fef6d1;
    color: #5b82ab;
    border: 1px solid #5b82ab;
    margin-top: 10px;
    z-index:1000;
}

// 添加内容
.add{
    position:absolute;
    right:140px;
    width:90px;
    height:30px;
    line-height:30px;
    background: url('../img/add.png') no-repeat;
    background-size:15px;
    background-position:center left;
    text-align:left;
    text-indent:28px;
    float:right;
    margin-top:20px;
}

// 遮罩层新建房型
.addRoombox{
    width:746px;
    height:530px;
    margin:0 auto;
    margin-top: 110px !important;
    box-shadow:0 0 10px rgba(0, 0, 0, .5);
    border-radius:3px;
    overflow:auto;
    position:relative;
    background:#fff;
    font-size:14px;
    h1{
        font-size:18px;
        text-align:center;
        padding:10px;
    }
    input[name='name']{
        text-indent:15px;
        width:350px;
        height:50px;
        border-radius:7px;
        border:1px solid #f9a1c7;
        margin-top:100px;
        margin-left:200px;
        vertical-align:bottom;
    }
    .limitNum{
        display:inline-block;
        font-size:14px;
        color:#b8b8b8;
        margin-left:10px;
        vertical-align:bottom;
    }
    p{
        text-align:center;
        button{
            @extend .pinkBtn;
            margin-top:80px;
            margin-right:10px;
            &[name='delete']{
                background:#fff;
                border:1px solid #8baee8;
                color:#8baee8;
                margin-right:20px;
            }
        }
    }
}

/* 遮罩层上边的新建房型和修改房型 */
// 关闭按钮
.modal-dialog{
    position:relative;
    .close{
        position: absolute;
        top: 2px;
        left: 965px;
        z-index: 100;
        width: 40px;
        height: 40px;
        font-size: 40px;
        line-height: 40px;
        background: rgba(0,0,0,0);
        border: none;
    }
}


// 上传图片
.upLoadImg{
    position:absolute;
    right:40px;
    top:62px;
    width:225px;
    height:166px;
    text-align: center;
    div{
        height:166px;
    }
    a{
        position: absolute;
        top: 32px;
        left: 68.5px;
        font-size: 12px;
        display: inline-block;
        background: rgba(255,255,255,0.5);
        width: 88px;
        height: 25px;
        line-height: 25px;
    }
    input[type='file']{
        width:90px;
        height:90px;
        position: absolute;
        top: 0;
        left: 68px;
        opacity: 0;
    }
    img{
        width:90px;
        height:90px;
    }
    p{
        font-size:14px;
        border-bottom:none !important;
        margin-top:20px !important;
        height:20px !important;
        line-height:20px !important;
    }
    button{
        display:none;
    }
    form{
        height:0;
    }
}


/*左边导航栏*/
.roomTypeSetupContain{
    width:110px;
    height:660px;
    overflow:auto;
    background:#edf1f7;
    padding-bottom:20px;
    .roomTypeSetup{
        font-size:18px;
        color:#444444;
        li{
            text-align:center;
            box-sizing:border-box;
            padding:30px 10px;
            word-wrap : break-word ;
            border-left: 3px solid #edf1f7;
        }
        .active{
            background:#e1e5ea;
            border-left:3px solid #fb60ab;
            color:#fb60ab;
        }
    }
    .EditeRoomType{
        padding:0;
        margin-top:20px;
        .newRoom{
            width:60px;
            height:50px;
            border-radius:7px;
            color:#999999;
            box-shadow:0 0 10px #9c9c9c;
            text-align:center;
            margin-left:25px;
            span{
                display:block;
                &:first-of-type{
                    width:100%;
                    height:30px;
                    font-size:24px;
                }
                &:last-of-type{
                    font-size:12px;
                }
            }
            .editRoom{
                margin-top:15px;
                background:url("../img/edit.png") no-repeat center center;
                background-size:16px;
            }
        }
    }
    .newandeditRoom{
        div{
            width:60px;
            height:40px;
        }
        .newRoom{
            span{
                &:first-of-type{
                    line-height:20px;
                }
            }
        }
    }
}

/*收银部分 选中样式*/
.selected{
    border:1px solid #fb60ab !important;
    span{
        display: inline-block;
        width: 31px;
        height: 32px;
        background: url('../img/rightRadius.png') no-repeat;
        position: absolute;
        top: 1px;
        right: 0;
    }
}

.editReason{
    textarea{
        width:430px;
        height:150px;
        background:#d2d5db;
        border:none;
        border-radius:5px;
        font-size:16px;
        text-indent:20px;
        padding-top:10px;
        outline: none;
        margin:20px 0 0 35px;
    }
}


/* 完成,修改，删除 按钮*/
.dialogLittltButton{
    margin-top:100px;
    margin-left:250px;
    @extend .pinkBtn;
}
/*修改和删除按钮特有部分*/
.dialogLittltButtonChange,.dialogLittltButtonDelete{
    display:inline-block;
}
/*修改和删除按钮特有部分*/
.dialogLittltButtonChange{
    margin-left:100px;
}
.dialogLittltButtonDelete{
    margin-left:50px;
}