// 链接动画
@mixin dz($time:0.25s){
    -webkit-transition: all $time ease-in-out;
    transition: all $time ease-in-out;
}
// 文字描边
@mixin ts($s1:1px,$s2:1px,$color:#fff){
    text-shadow:
    $s1 $s1 $s2 $color,
    -$s1 $s1 $s2 $color,
    $s1 (-$s1) $s2 $color,
    -$s1 (-$s1) $s2 $color;
}
// 旋转
@mixin xz($deg:360){
    -webkit-transform:rotate($deg+deg);
    transform:rotate($deg+deg);
}
// 旋转放大
@mixin xzfd($deg:360,$s1:1.2){
    -webkit-transform:rotate($deg+deg) scale($s1);
    transform:rotate($deg+deg) scale($s1);
}
// 移动动画
@mixin yd($s1:0,$s2:0){
    -webkit-transform:translate($s1,$s2);
    transform:translate($s1,$s2);
}
// 禁止选中
@mixin ns{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
// 一行文字标题超出显示省略号
@mixin online($s1) {
    overflow: hidden;
    line-height: $s1;
    height: $s1;
    white-space: nowrap;
    text-overflow: ellipsis;
}
// 计算(基本不会采用)
@mixin calc($property, $expression) {
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: calc(#{$expression});
}
// 一行文字垂直居中,并隐藏溢出
@mixin hlh($s1) {
    height: $s1;
    line-height: $s1;
    overflow: hidden;
}
// 背景
@mixin bg($url, $repeat:no-repeat, $position:center top) {
    background: url($url) $repeat $position;
}
// 圆角
@mixin radius($r:4px) {
    border-radius: $r;
}
