@charset "UTF-8";
body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,pre,form,fieldset,legend,input,button,textarea,p,blockquote,table,th,td,menu{margin:0;padding:0}
table,th,td{font-weight: normal;}
*{box-sizing:border-box;}
table{border-collapse:collapse;border-spacing:0;table-layout:fixed}
button,input{outline:none}
ul,ol,menu{list-style:none}
fieldset,img{border:none}
img,object,select,input,textarea,button{vertical-align:middle}
input,textarea,select,address,caption,cite,code,dfn,em,i,b,strong,small,th,var,abbr{font-size:100%;font-style:normal}
caption,th {text-align: left}
article,aside,footer,header,hgroup,nav,section,figure,figcaption {display: block}
code, kbd, pre, samp, tt { font-family: Consolas,"Courier New", Courier, monospace}
address, cite, dfn, em, var,i {font-style: normal}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:"";content: none}
a {text-decoration:none; cursor:pointer}
.cursor{
    cursor: pointer;
}
.cf {
    zoom:1;
    &:before,&:after {content:"";display:table}
    &:after {clear:both}
}
/*对齐*/
.txAl{
    text-align: center;
}
.txAlL{
    text-align: left;
}
.txAlR{
    text-align: right;
}
.txAlC{
    text-align: center;
}
/*文本样式*/
.txDeUnder{
    text-decoration: underline;
}
.txDeOver{
    text-decoration: overline;
}
.txDeThrough{
    text-decoration: line-through;
}
.txDeBlink{
    text-decoration: blink
}

/*缩进*/
.txtIdt-0{
    text-indent:0;
}
/*<>=========<>*/
/*内间距*/
.pd-10{
    padding: 10px
}
.pd-15{
    padding: 15px
}
.pd-20{
    padding: 20px;
}
.pd-25{
    padding: 25px;
}
.pdL-10{
    padding-left: 10px
}
.pdL-15{
    padding-left: 15px
}
.pdL-20{
    padding-left: 20px;
}
.pdL-25{
    padding-left: 25px;
}
.pdR-10{
    padding-right: 10px
}
.pdR-15{
    padding-right: 15px
}
.pdR-20{
    padding-right: 20px;
}
.pdR-25{
    padding-right: 25px;
}
.pdB-10{
    padding-bottom: 10px
}
.pdB-15{
    padding-bottom: 15px
}
.pdB-20{
    padding-bottom: 20px;
}
.pdB-25{
    padding-bottom: 25px;
}
.pdB-78{
    padding-bottom: 78px;
}
.pdB-288{
    padding-bottom: 288px;
}
.pdT-10{
    padding-top: 10px
}
.pdT-15{
    padding-top: 15px
}
.pdT-20{
    padding-top: 20px;
}
.pdT-25{
    padding-top: 25px;
}
.pdT-72{
    padding-top: 72px;
}
.pdT-284{
    padding-top: 284px;
}

/*padding rem*/
.pdB-d46{
    padding-bottom:.46rem;
}
.pdB-1d34{
    padding-bottom:1.34rem;
}
.pdT-1d63{
    padding-top:1.63rem;
}
/*外间距*/
.mg-auto{
    margin: 0 auto;
}
.mg-10{
    margin: 10px
}
.mg-15{
    margin: 15px
}
.mg-20{
    margin: 20px;
}
.mg-25{
    margin: 25px;
}
.mgL-10{
    margin-left: 10px
}
.mgL-15{
    margin-left: 15px
}
.mgL-20{
    margin-left: 20px;
}
.mgL-25{
    margin-left: 25px;
}
.mgR-10{
    margin-right: 10px
}
.mgR-15{
    margin-right: 15px
}
.mgR-20{
    margin-right: 20px;
}
.mgR-25{
    margin-right: 25px;
}
.mgR-407{
    margin-right: 407px
}
.mgR-190{
    margin-right: 190px;
}
.mgR-200{
    margin-right: 200px;
}
.mgB-10{
    margin-bottom: 10px
}
.mgB-15{
    margin-bottom: 15px
}
.mgB-20{
    margin-bottom: 20px;
}
.mgB-25{
    margin-bottom: 25px;
}
.mgT-10{
    margin-top: 10px
}
.mgT-15{
    margin-top: 15px
}
.mgT-20{
    margin-top: 20px;
}
.mgT-25{
    margin-top: 25px;
}
.mgT-28{
    margin-top: 28px;
}
.mgT-100{
    margin-top: 100px;
}
.mgT-300{
    margin-top: 300px;
}

/*margin  rem*/
.mgL-d2{
    margin-left:.2rem;
}
.mgT-d84{
    margin-top:.84rem;
}

/*<>=========<>*/
/*浮动*/
.flL{
    float: left;
}
.flR{
    float: right;
}
/*<>=========<>*/
/*遮盖*/
.ovfHd{
    overflow: hidden;
}
.ovfHdX{
    overflow-x: hidden;
}
.ovfHdY{
    overflow-y: hidden;
}
.ovfSl{
    overflow: scroll;
}
.ovfSlX{
    overflow-x: scroll;
}
.ovfSlY{
    overflow-y: scroll;
}
.ovfVis{
    overflow: visible;
}

/*<>=========<>*/
/*行级块级*/
.dsNo{
    display: none;
}
.dsIn{
    display: inline;
}
.dsBl{
    display: block;
}
.dsInB{
    display: inline-block;
}
/*<>=========<>*/
/*定位*/
.psAb{
    position: absolute;
}
.psF{
    position: fixed;
}
.psRl{
    position: relative;
}

// 宽度rem
.W-1d16R{
    width:1.16rem;
}
.W-1d46{
    width:1.46rem;
}
.W-4d57{
    width:4.57rem;
}
.W-4d41P{
    width:4.41rem;
}
// 宽度px
.W-15P{
    width:15px;
}
/*<>=========<>*/
/*宽高百分百比*/
.W-100P{
    width: 100%;
}
.W-90P{
    width: 90%
}
.W-80P{
    width: 80%
}
.W-70P{
    width: 70%
}
.W-60P{
    width: 60%
}
.W-50P{
    width: 50%
}
.W-40P{
    width: 40%
}
.W-30P{
    width: 30%
}
.W-23d5P{
    width: 23.5%
}
.W-20P{
    width: 20%
}
.W-10P{
    width: 10%
}
.W-8d4P{
    width: 8.4%
}
.W-1156P{
    width: 1156px;
}
.W-1d2P{
    width: 1.2%;
}

/*高rem*/
.H-d3R{
    height:.3rem;
}

/*高百分比*/
.H-100P{
    height: 100%;
}
.H-90P{
    height: 90%
}
.H-80P{
    height: 80%
}
.H-70P{
    height: 70%
}
.H-60P{
    height: 60%
}
.H-50P{
    height: 50%
}
.H-40P{
    height: 40%
}
.H-30P{
    height: 30%
}
.H-20P{
    height: 20%
}
.H-10P{
    height: 10%
}
.H-6d5P{
    height: 6.5%
}
.H-2d7P{
    height: 2.7%
}

// 字体大小rem
.fnSz-d16rem{
    font-size:.16rem;
}
.fnSz-d2rem{
    font-size:.2rem;
}
.fnSz-d3rem{
    font-size:.3rem;
}

/*<>=========<>*/
/*字体大小*/
.fnSz-10{
    font-size: 10px;
}
.fnSz-12{
    font-size: 12px;
}
.fnSz-14{
    font-size: 14px;
}
.fnSz-16{
    font-size: 16px
}
.fnSz-18{
    font-size: 18px;
}
.fnSz-20{
    font-size: 20px;
}
.fnSz-22{
    font-size: 22px;
}
.fnSz-24{
    font-size: 24px;
}
.fnSz-26{
    font-size: 26px
}
.fnSz-28{
    font-size: 28px
}
.fnSz-30{
    font-size: 30px
}
.fnSz-36{
    font-size: 36px
}

/*字体*/
.fnFm-HT{
    font-family: "黑体"
}

/*<>=========<>*/
/*背景颜色*/
.bgCl-hotPink{
    background:#fb60ab;
}

.bgCl-lightGrey{
    background: #b2b2b2
}

/*<>=========<>*/
/*字体颜色*/
.cl-white{
    color: white
}

.cl-hotPink{
    color: #fb60ab
}

.cl-grey{
    color: #b2b2b2
}

.cl-blue{
    color: #5782e4
}
/*<>========<>*/
/*边框*/
.bdrNo{
    border: none
}
.bdr-white-1{
    border: 1px solid white;
}
.bdr-white-2{
    border: 2px solid white;
}
.bdr-white-3{
    border: 3px solid white;
}
.bdrL-white-1{
    border-left: 1px solid white;
}
.bdrL-white-2{
    border-left: 2px solid white;
}
.bdrL-gray-2{
    border-left: 2px solid #cacdd0;
}
.bdrL-white-3{
    border-left: 3px solid white;
}
.bdrR-white-1{
    border-right: 1px solid white;
}
.bdrR-white-2{
    border-right: 2px solid white;
}
.bdrR-white-3{
    border-right: 3px solid white;
}
.bdrB-white-1{
    border-bottom: 1px solid white;
}
.bdrB-white-2{
    border-bottom: 2px solid white;
}
.bdrB-white-3{
    border-bottom: 3px solid white;
}
.bdrT-white-1{
    border-top: 1px solid white;
}
.bdrT-white-2{
    border-top: 2px solid white;
}
.bdrT-white-3{
    border-top: 3px solid white;
}
.bdrSolid-white-1{
    border:1px solid white;
}

/*下划线*/
.bdUdline{
    text-decoration:underline;
}
/*圆角*/
.bdrRdNO{
    border-radius: none
}

.bdrRd-3{
    border-radius: 3px;
}
.bdrRd-5{
    border-radius: 5px;
}
.bdrRd-7{
    border-radius: 7px
}
.bdrRd-9{
    border-radius: 9px;
}
.bdrRd-11{
    border-radius: 11px
}
.bdrRd-13{
    border-radius: 13px;
}
/*上圆角*/
.bdrRdT-3{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.bdrRdT-5{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.bdrRdT-7{
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.bdrRdT-9{
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}
.bdrRdT-11{
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}
.bdrRdT-13{
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}
/*下圆角*/

.bdrRdB-3{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.bdrRdB-5{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.bdrRdB-7{
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.bdrRdB-9{
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}
.bdrRdB-11{
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
}
.bdrRdB-13{
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}
/*左边圆角*/
.bdrRdL-3{
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.bdrRdL-5{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.bdrRdL-7{
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}
.bdrRdL-9{
    border-bottom-left-radius: 9px;
    border-top-left-radius: 9px;
}
.bdrRdL-11{
    border-bottom-left-radius: 11px;
    border-top-left-radius: 11px;
}
.bdrRdL-13{
    border-bottom-left-radius: 13px;
    border-top-left-radius: 13px;
}
/*右边圆角*/

.bdrRdR-3{
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.bdrRdR-5{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.bdrRdR-7{
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
}
.bdrRdR-9{
    border-bottom-right-radius: 9px;
    border-top-right-radius: 9px;
}
.bdrRdR-11{
    border-bottom-right-radius: 11px;
    border-top-right-radius: 11px;
}
.bdrRdR-13{
    border-bottom-right-radius: 13px;
    border-top-right-radius: 13px;
}

/*点击input框或按钮后无闪烁边框*/
.bdnoBlink{
    outline : none;
}
