/*
* @Author: anchen
* @Date:   2017-04-10 14:26:23
* @Last Modified by:   anchen
* @Last Modified time: 2017-05-31 18:28:02
*/

@import '../lib/reset';
@import '../lib/mixin';
@import '../lib/common';
@import '../room_setup/app.scss';



#body{
    background-color:#f8f9fc;
    width:1280px;
    height:720px;
}

// 选择按钮
.checkBefo{
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #444;
    border-radius:50%;
    vertical-align: middle;
}
.check-icon{
    border-color: #fb60ab;
    background-color:#fb60ab;
    position:relative;
}
.check-icon:after{
    content:"";
    display: block;
    border: 1px solid #fff;
    transform: rotate(-45deg);
    border-width: 0 0 1px 1px;
    width: 10px;
    height: 5px;
    position:absolute;
    top: 2px;
    left: 2px;
}

// 下部分的所有内容
.DrinksDown{
    margin-top:60px;
}


// 左边的导航栏
.roomTypeSetupContain{
    display: inline-block;
}

// // 左边导航栏里面的新建和修改品类
// .newRoom{
//     margin-top:20px;
//     div{
//         width: 70px;
//         height: 50px;
//         border-radius: 7px;
//         color: #999999;
//         box-shadow: 0 0 10px #9c9c9c;
//         text-align: center;
//         margin-left: 30px;
//         span{
//             display:block;
//             &:nth-of-type(2){
//                 font-size:14px;
//             }
//         }
//         &:last-of-type{
//             margin-top:15px;
//         }
//     }
// }


// 右边的内容
.setUpRight{
    float: right;
    width: 90%;
    min-height: 60px;
    max-height: 660px;
    display: inline-block;
    // overflow: auto;
    background-color: #fff;
    padding-bottom:50px;
    .Single{
        margin-top:80px;
    }
}

// 酒水管理右边内容的标题和尾部的添加单品
.Single{
    .SingleTitle{
        width:1147px;
        height:56px;
        border-bottom: 1px solid #e0e8ec;
        font-size:16px;
        line-height:56px;
        position: fixed;
        top: 60px;
        z-index: 100;
        background: #fff;
        span{
            &:first-of-type{
                margin-left:25px;
                font-size:18px;
            }
            &:nth-of-type(2){
                margin-left:690px;
            }
            &:nth-of-type(3){
                margin-left:30px;
            }
        }
        .online,.offline,.deleteSingle{
            display:inline-block;
            width:65px;
            height:25px;
            text-align: center;
            line-height:25px;
            border:1px solid #444;
            border-radius:7px;
            margin-left:20px;
        }
    }
}

// 商品详情整体布局及其头部
.commodityDetail{
    width:95%;
    margin-left:20px;
    margin-top:20px;
    min-height:50px;
    border:1px solid #d2d2d2;
    .commodityDetailTitle{
        width:100%;
        height:50px;
        line-height:50px;
        background-color:#f8f9fc;
        font-size:16px;
        color:#444;
        ul{
            width:100%;
            height:100%;
            display:flex;
            li{
                flex:1;
                text-align:center;
                &:first-of-type{
                    flex-grow:0.3;
                }
                &:nth-of-type(2){
                    flex-grow:0.6;
                    margin-right:20px;
                    text-align:left;
                }
                &:nth-of-type(3){
                    flex-grow:2;
                    margin-right:20px;
                    text-align:left;
                }
                &:last-of-type{
                    flex-grow:1.5;
                    text-align:center;
                }
            }
        }
    }
}

// 添加单品按钮
.addSingle{
    display:inline-block;
    width:100px;
    height:30px;
    border:1px solid #fb60ab;
    color:#fb60ab;
    text-align:center;
    line-height:30px;
    font-size:16px;
    border-radius:7px;
    margin-left:30px;
    margin-top:30px;
}

// 单个商品系列(已编辑好的和正在编辑的公共写在一起的部分)
.productCell{
    width:100%;
    height:120px;
    border-bottom:1px solid #d2d2d2;
    font-size:16px;
    &:last-of-type{
        border-bottom:none;
    }
    ul{
        width:100%;
        height:100%;
        li{
            float:left;
            height:120px;
            line-height:120px;
        }
        .chooseCon{
            width:44px;
            text-align:center;
        }
        .imgCon{
            width: 85px;
            margin-right:22px;
            position:relative;
            img{
                width: 84px;
                height:84px;
            }
            input[type='file']{
                position:absolute;
                top: 25px;
                left: 0;
                width:76px;
                height:76px;
                opacity: 0;
            }
        }
        .nameCon{
            width:280px;
            padding-top: 33px;
            margin-right: 20px;
            line-height: 30px;
            input[name='name']{
                width:100%;
                height:80px;
                background-color:#edf1f7;
                border:1px solid #d2d2d2;
                border-radius:5px;
                text-indent: 10px;
                margin-top:20px;
                &:focus{
                    border:1px solid #fb60ab;
                }
            }
            p{
                &:last-of-type{
                    line-height:18px;
                }
            }
        }
        .priceCon,.stockCon,.stateCon{
            width:143px;
            text-align:center;
        }
        .operaCon{
            width:206px;
            text-align:center;
            span{
                display:inline-block;
                width:40px;
                height:30px;
                line-height:30px;
            }
        }
    }
}

// 在编辑的商品与编辑完成的商品的区别
.addProductContainer{
    // 商品名称部分
    .nameCon{
        padding-top:0 !important;
    }
    // 规格和单位部分以及库存量和单价部分
    .standardAndUnit,.stockAndprice{
        width:213px;
        padding-left: 26px;
        padding-top: 20px;
        input{
            display:block;
            width: 80px;
            height: 25px;
            font-size: 15px;
            text-align: center;
            line-height: 25px;
            background: #edf1f7;
            border: none;
            margin-top:10px;
            vertical-align: middle;
        }
    }
    .operaCon{
        span{
            display:block !important;
            width:100% !important;
            margin-top: 10px;
            &:nth-of-type(2){
                height:60px;
                button{
                    display:block;
                    margin: 0 auto;
                    @extend .littleBtn;
                    &:last-of-type{
                        margin-top:5px;
                    }
                }
            }
        }
    }
}



// 新建品类等的input输入框
.singleLi{
    width:280px;
    height:40px;
    display:inline-block;
    margin-top:15px;
    position:relative;
    &:first-of-type,&:nth-of-type(2){
        margin-top:50px;
    }
    &:nth-of-type(odd){
        margin-left:90px;
    }
    &:nth-of-type(even){
        margin-left:65px;
    }
    .singleInput{
        width: 250px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #f1f2f8;
        background: #f1f2f8;
        text-indent: 7px;
    }
}


// 打折的图标
span.discount{
    width: 16px;
    height: 16px;
    display: inline-block;
    background:url('../img/discount.png') no-repeat;
    background-size: 100%;
}

// 删除
.deleteDrink{
    display:inline-block;
    width:32px;
    height:32px;
    background: url('../img/delete.png') no-repeat;
    background-size:15px;
    position:absolute;
    right:-45px;
    top: 10px;
}
