.test{
    width: 200px;
    float: right;
    margin-bottom: 200px;
}
h1{
    float: right;
}
input{
    width: 100px;
    height: 30px;
    margin: 20px ;
    float: right;
    display: block;
}
button{
    width: 100px;
    height: 30px;
    margin: 20px ;
    float: right;
}
