@charset "UTF-8";
body, ul, ol, dl, dd, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, button, textarea, p, blockquote, table, th, td, menu {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed; }

ul, ol, menu {
  list-style: none; }

fieldset, img {
  border: none; }

img, object, select, input, textarea, button {
  vertical-align: middle; }

input, textarea, select, address, caption, cite, code, dfn, em, i, b, strong, small, th, var, abbr {
  font-size: 100%;
  font-style: normal; }

caption, th {
  text-align: left; }

article, aside, footer, header, hgroup, nav, section, figure, figcaption {
  display: block; }

code, kbd, pre, samp, tt {
  font-family: Consolas,"Courier New", Courier, monospace; }

address, cite, dfn, em, var, i {
  font-style: normal; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

  /*选择按钮*/
  .checkBefo{
      display: inline-block;
      width: 15px;
      height: 15px;
      border: 1px solid #444;
      border-radius:50%;
      vertical-align: middle;
      margin-right:5px;
  }
  .check-icon{
      border-color: #fb60ab;
      background-color:#fb60ab;
      position:relative;
  }
  .check-icon:after{
      content:"";
      display: block;
      border: 1px solid #fff;
      transform: rotate(-45deg);
      border-width: 0 0 1px 1px;
      width: 10px;
      height: 5px;
      position:absolute;
      top: 2px;
      left: 2px;
  }


a {
  text-decoration: none;
  cursor: pointer; }

.cursor {
  cursor: pointer; }

.cf {
  zoom: 1; }
  .cf:before, .cf:after {
    content: "";
    display: table; }
  .cf:after {
    clear: both; }

/*对齐*/
.txAl, .roomSetup, .login, .passwordReset, .register, .ipSetup {
  text-align: center; }

.txAlL {
  text-align: left; }

.txAlR, .register ul:last-of-type li:last-of-type {
  text-align: right; }

.txAlC {
  text-align: center; }

/*文本样式*/
.txDeUnder {
  text-decoration: underline; }

.txDeOver {
  text-decoration: overline; }

.txDeThrough {
  text-decoration: line-through; }

.txDeBlink {
  text-decoration: blink; }

/*缩进*/
.txtIdt-0 {
  text-indent: 0; }

/*<>=========<>*/
/*内间距*/
.pd-10 {
  padding: 10px; }

.pd-15 {
  padding: 15px; }

.pd-20 {
  padding: 20px; }

.pd-25 {
  padding: 25px; }

.pdL-10 {
  padding-left: 10px; }

.pdL-15 {
  padding-left: 15px; }

.pdL-20 {
  padding-left: 20px; }

.pdL-25 {
  padding-left: 25px; }

.pdR-10 {
  padding-right: 10px; }

.pdR-15 {
  padding-right: 15px; }

.pdR-20 {
  padding-right: 20px; }

.pdR-25 {
  padding-right: 25px; }

.pdB-10 {
  padding-bottom: 10px; }

.pdB-15 {
  padding-bottom: 15px; }

.pdB-20 {
  padding-bottom: 20px; }

.pdB-25 {
  padding-bottom: 25px; }

.pdB-78 {
  padding-bottom: 78px; }

.pdB-288 {
  padding-bottom: 288px; }

.pdT-10 {
  padding-top: 10px; }

.pdT-15 {
  padding-top: 15px; }

.pdT-20 {
  padding-top: 20px; }

.pdT-25 {
  padding-top: 25px; }

.pdT-72 {
  padding-top: 72px; }

.pdT-284 {
  padding-top: 284px; }

/*padding rem*/
.pdB-d46 {
  padding-bottom: .46rem; }

.pdB-1d34 {
  padding-bottom: 1.34rem; }

.pdT-1d63 {
  padding-top: 1.63rem; }

/*外间距*/
.mg-auto, .roomSetup ul, .passwordReset ul, .register ul {
  margin: 0 auto; }

.mg-10 {
  margin: 10px; }

.mg-15 {
  margin: 15px; }

.mg-20 {
  margin: 20px; }

.mg-25 {
  margin: 25px; }

.mgL-10 {
  margin-left: 10px; }

.mgL-15 {
  margin-left: 15px; }

.mgL-20 {
  margin-left: 20px; }

.mgL-25 {
  margin-left: 25px; }

.mgR-10 {
  margin-right: 10px; }

.mgR-15 {
  margin-right: 15px; }

.mgR-20 {
  margin-right: 20px; }

.mgR-25 {
  margin-right: 25px; }

.mgR-407 {
  margin-right: 407px; }

.mgR-190 {
  margin-right: 190px; }

.mgR-200 {
  margin-right: 200px; }

.mgB-10 {
  margin-bottom: 10px; }

.mgB-15 {
  margin-bottom: 15px; }

.mgB-20 {
  margin-bottom: 20px; }

.mgB-25 {
  margin-bottom: 25px; }

.mgT-10 {
  margin-top: 10px; }

.mgT-15 {
  margin-top: 15px; }

.mgT-20 {
  margin-top: 20px; }

.mgT-25 {
  margin-top: 25px; }

.mgT-28 {
  margin-top: 28px; }

.mgT-100 {
  margin-top: 100px; }

.mgT-300 {
  margin-top: 300px; }

/*margin  rem*/
.mgL-d2 {
  margin-left: .2rem; }

.mgT-d84 {
  margin-top: .84rem; }

/*<>=========<>*/
/*浮动*/
.flL, .register ul label {
  float: left; }

.flR {
  float: right; }

/*<>=========<>*/
/*遮盖*/
.ovfHd {
  overflow: hidden; }

.ovfHdX {
  overflow-x: hidden; }

.ovfHdY {
  overflow-y: hidden; }

.ovfSl {
  overflow: scroll; }

.ovfSlX {
  overflow-x: scroll; }

.ovfSlY {
  overflow-y: scroll; }

.ovfVis {
  overflow: visible; }

/*<>=========<>*/
/*行级块级*/
.dsNo {
  display: none; }

.dsIn {
  display: inline; }

.dsBl {
  display: block; }

.dsInB, .passwordReset ul .getNum, .register ul:first-of-type li:last-of-type .getNum, .register ul li:last-of-type span {
  display: inline-block; }

/*<>=========<>*/
/*定位*/
.psAb, .passwordReset ul .getNum, .register ul:first-of-type li:last-of-type .getNum {
  position: absolute; }

.psF {
  position: fixed; }

.psRl {
  position: relative; }

.W-1d16R {
  width: 1.16rem; }

.W-1d46 {
  width: 1.46rem; }

.W-4d57 {
  width: 4.57rem; }

.W-4d41P {
  width: 4.41rem; }

/*<>=========<>*/
/*宽高百分百比*/
.W-100P {
  width: 100%; }

.W-90P {
  width: 90%; }

.W-80P {
  width: 80%; }

.W-70P {
  width: 70%; }

.W-60P {
  width: 60%; }

.W-50P {
  width: 50%; }

.W-40P {
  width: 40%; }

.W-30P {
  width: 30%; }

.W-23d5P {
  width: 23.5%; }

.W-20P {
  width: 20%; }

.W-10P {
  width: 10%; }

.W-8d4P {
  width: 8.4%; }

.W-1156P {
  width: 1156px; }

.W-1d2P {
  width: 1.2%; }

/*高rem*/
.H-d3R {
  height: .3rem; }

/*高百分比*/
.H-100P {
  height: 100%; }

.H-90P {
  height: 90%; }

.H-80P {
  height: 80%; }

.H-70P {
  height: 70%; }

.H-60P {
  height: 60%; }

.H-50P {
  height: 50%; }

.H-40P {
  height: 40%; }

.H-30P {
  height: 30%; }

.H-20P {
  height: 20%; }

.H-10P {
  height: 10%; }

.H-6d5P {
  height: 6.5%; }

.H-2d7P {
  height: 2.7%; }

.fnSz-d16rem {
  font-size: .16rem; }

.fnSz-d2rem, .register ul li:last-of-type span {
  font-size: .2rem; }

.fnSz-d3rem {
  font-size: .3rem; }

/*<>=========<>*/
/*字体大小*/
.fnSz-10 {
  font-size: 10px; }

.fnSz-12 {
  font-size: 12px; }

.fnSz-14 {
  font-size: 14px; }

.fnSz-16 {
  font-size: 16px; }

.fnSz-18 {
  font-size: 18px; }

.fnSz-20 {
  font-size: 20px; }

.fnSz-22 {
  font-size: 22px; }

.fnSz-24 {
  font-size: 24px; }

.fnSz-26 {
  font-size: 26px; }

.fnSz-28 {
  font-size: 28px; }

.fnSz-30 {
  font-size: 30px; }

.fnSz-36 {
  font-size: 36px; }

/*字体*/
.fnFm-HT {
  font-family: "黑体"; }

/*<>=========<>*/
/*背景颜色*/
.bgCl-hotPink {
  background: #fb60ab; }

.bgCl-lightGrey {
  background: #b2b2b2; }

/*<>=========<>*/
/*字体颜色*/
.cl-white, .h1BT, .roomSetup h1, .login h1, .passwordReset h1, .register h1, .ipSetup h1, .pinkBtn, .roomSetup .next, .login .next, .passwordReset .next, .register .next, .login p:nth-of-type(2) {
  color: white; }

.cl-hotPink {
  color: #fb60ab; }

.cl-grey {
  color: #b2b2b2; }

.cl-blue {
  color: #5782e4; }

/*<>========<>*/
/*边框*/
.bdrNo, .register ul li input, .ipSetup .ipRoom .roomNo, .ipSetup .ipRoom .ipAddr .ipNo {
  border: none; }

.bdr-white-1 {
  border: 1px solid white; }

.bdr-white-2 {
  border: 2px solid white; }

.bdr-white-3 {
  border: 3px solid white; }

.bdrL-white-1 {
  border-left: 1px solid white; }

.bdrL-white-2 {
  border-left: 2px solid white; }

.bdrL-gray-2 {
  border-left: 2px solid #cacdd0; }

.bdrL-white-3 {
  border-left: 3px solid white; }

.bdrR-white-1 {
  border-right: 1px solid white; }

.bdrR-white-2 {
  border-right: 2px solid white; }

.bdrR-white-3 {
  border-right: 3px solid white; }

.bdrB-white-1 {
  border-bottom: 1px solid white; }

.bdrB-white-2 {
  border-bottom: 2px solid white; }

.bdrB-white-3 {
  border-bottom: 3px solid white; }

.bdrT-white-1 {
  border-top: 1px solid white; }

.bdrT-white-2 {
  border-top: 2px solid white; }

.bdrT-white-3 {
  border-top: 3px solid white; }

.bdrSolid-white-1 {
  border: 1px solid white; }

/*下划线*/
.bdUdline, .login p:nth-of-type(2) {
  text-decoration: underline; }

/*圆角*/
.bdrRdNO {
  border-radius: none; }

.bdrRd-3 {
  border-radius: 3px; }

.bdrRd-5 {
  border-radius: 5px; }

.bdrRd-7 {
  border-radius: 7px; }

.bdrRd-9 {
  border-radius: 9px; }

.bdrRd-11 {
  border-radius: 11px; }

.bdrRd-13 {
  border-radius: 13px; }

/*上圆角*/
.bdrRdT-3 {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }

.bdrRdT-5 {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.bdrRdT-7, .login ul li:first-of-type input, .passwordReset ul li input[placeholder="请输入手机号"], .passwordReset ul .ktvName, .register ul li:first-of-type {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px; }

.bdrRdT-9 {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px; }

.bdrRdT-11 {
  border-top-left-radius: 11px;
  border-top-right-radius: 11px; }

.bdrRdT-13 {
  border-top-left-radius: 13px;
  border-top-right-radius: 13px; }

/*下圆角*/
.bdrRdB-3 {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px; }

.bdrRdB-5 {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.bdrRdB-7, .login ul li:nth-of-type(2) input, .passwordReset ul li input[name="password2"], .passwordReset ul li input[placeholder="请输入验证码"], .register ul li:last-of-type {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px; }

.bdrRdB-9 {
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px; }

.bdrRdB-11 {
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px; }

.bdrRdB-13 {
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px; }

/*左边圆角*/
.bdrRdL-3 {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px; }

.bdrRdL-5 {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px; }

.bdrRdL-7, .ipSetup .ipRoom .ipAddr .ipNo:first-of-type {
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px; }

.bdrRdL-9 {
  border-bottom-left-radius: 9px;
  border-top-left-radius: 9px; }

.bdrRdL-11 {
  border-bottom-left-radius: 11px;
  border-top-left-radius: 11px; }

.bdrRdL-13 {
  border-bottom-left-radius: 13px;
  border-top-left-radius: 13px; }

/*右边圆角*/
.bdrRdR-3 {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px; }

.bdrRdR-5 {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px; }

.bdrRdR-7, .ipSetup .ipRoom .ipAddr .ipNo:last-of-type {
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px; }

.bdrRdR-9 {
  border-bottom-right-radius: 9px;
  border-top-right-radius: 9px; }

.bdrRdR-11 {
  border-bottom-right-radius: 11px;
  border-top-right-radius: 11px; }

.bdrRdR-13 {
  border-bottom-right-radius: 13px;
  border-top-right-radius: 13px; }

/*点击input框或按钮后无闪烁边框*/
.bdnoBlink, .pinkBtn, .roomSetup .next, .login .next, .passwordReset .next, .register .next, .roomSetup ul li input, .login p:first-of-type input, .login ul li input, .passwordReset ul li input[name="password1"], .passwordReset ul li input[name="password2"], .passwordReset ul li input[placeholder="请输入手机号"], .passwordReset ul li input[placeholder="请输入验证码"], .passwordReset ul .ktvName, .register ul li, .register ul li input, .ipSetup .ipRoom .roomNo, .ipSetup .ipRoom .ipAddr .ipNo {
  outline: none; }

html {
  font-size: 100px; }

body {
  font-size: .24rem; }

html, body {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5) url("/src/img/loginBg.png");
  background-size: 100%; }

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

.h1BT, .roomSetup h1, .login h1, .passwordReset h1, .register h1, .ipSetup h1 {
  font-size: 18px;
  box-sizing: border-box; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  40% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* define */
/* 粉红色大按钮 */
.pinkBtn, .roomSetup .next, .login .next, .passwordReset .next, .register .next {
  width: 280px;
  height: 40px;
  background-color: #fb61aa;
  border-radius: 7px;
  font-size: 20px;
  border: none; }

/*小按钮*/
.littleBtn, .ipSetup .buttons .prev, .ipSetup .buttons .finish {
  width: 180px;
  height: 35px;
  font-size: 14px;
  border: none;
  color: #fff;
  border-radius: 3px; }

/*ip设置点击包房类型改变border样式,增加此class*/
.pinkBtnBottom {
  border-bottom: 3px solid #dc6c98; }

.pinkFontBottom {
  color: #dc6c98; }

/* 背景图位置 */
.bg-Ps {
  background-position: 5% 50%; }

/*ip地址左框*/
.ipLeft {
  width: 1.6rem;
  height: .7rem; }

/* 房型设置 */
.roomSetup h1 {
  padding-top: 60px;
  padding-bottom: 90px; }
.roomSetup ul {
  width: 800px;
  height: 380px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  overflow: auto;
  padding: 50px;
  box-sizing: border-box; }
  .roomSetup ul li {
    position: relative;
    margin-bottom: 15px; }
    .roomSetup ul li:nth-of-type(odd) {
      float: left; }
    .roomSetup ul li:nth-of-type(even) {
      float: right; }
    .roomSetup ul li input {
      box-sizing: border-box;
      width: 280px;
      height: 40px;
      text-indent: 45px;
      background: #edeef6;
      border: 1px solid #c7c8cb;
      font-size: 14px;
      padding-top: 5px;
      box-sizing: border-box;
      border-radius: 7px;
      background-color: #e2e4e1;
      text-indent: 20px; }
      .roomSetup ul li input:focus {
        border: 1px solid #e4829f; }
.roomSetup .delete {
  display: inline-block;
  width: .32rem;
  height: .32rem;
  background: url("/src/img/delete.png") no-repeat;
  background-size: 15px;
  position: absolute;
  right: -45px;
  top: 10px; }
.roomSetup .hide {
  display: none; }
.roomSetup .add {
  clear: both;
  color: #fff;
  font-size: 14px;
  width: 90px;
  height: 30px;
  line-height: 30px;
  background: url("/src/img/add.png") no-repeat;
  background-size: 15px;
  background-position: center left;
  text-align: left;
  text-indent: 28px;
  float: right; }
.roomSetup .next {
  margin-top: 50px; }

/* 登录 */
.login h1 {
  padding-top: 195px;
  padding-bottom: 50px; }
.login p:first-of-type {
  margin: 10px auto;
  color: #5782e5;
  font-size: 12px; }
  .login p:first-of-type input {
    margin-right: 10px;
    background-color: #fff; }
  .login p:first-of-type label {
    color: #fff;
    margin-right: 160px; }
  .login p:first-of-type a:hover {
    -webkit-tap-highlight-color: transparent; }
.login p:nth-of-type(2) {
  margin-top: 200px;
  font-size: 12px; }
.login ul li input {
  width: 280px;
  height: 40px;
  text-indent: 45px;
  background: #edeef6;
  border: 1px solid #c7c8cb;
  font-size: 14px;
  padding-top: 5px;
  box-sizing: border-box; }
.login ul li:first-of-type input {
  background: #eceff6 url("/src/img/pretty.png") no-repeat;
  background-position: 5% 50%;
  background-size: 7%; }
.login ul li:nth-of-type(2) input {
  background: #eceff6 url("/src/img/pretty.png") no-repeat;
  background-position: 5% 50%;
  background-size: 7%; }
.login ul li:last-of-type {
  height: 12px;
  color: red;
  font-size: 10px; }
.login .next {
  margin-top: 15px; }

/* 设置新密码及找回密码 */
.passwordReset h1 {
  padding-top: 195px;
  padding-bottom: 50px; }
.passwordReset ul {
  width: 280px; }
  .passwordReset ul li {
    position: relative; }
    .passwordReset ul li input[name="password1"] {
      width: 280px;
      height: 40px;
      text-indent: 45px;
      background: #edeef6;
      border: 1px solid #c7c8cb;
      font-size: 14px;
      padding-top: 5px;
      box-sizing: border-box;
      background: #eceff6 url("/src/img/pretty.png") no-repeat;
      background-position: 5% 50%;
      background-size: 7%; }
    .passwordReset ul li input[name="password2"] {
      width: 280px;
      height: 40px;
      text-indent: 45px;
      background: #edeef6;
      border: 1px solid #c7c8cb;
      font-size: 14px;
      padding-top: 5px;
      box-sizing: border-box;
      background: #eceff6 url("/src/img/pretty.png") no-repeat;
      background-position: 5% 50%;
      background-size: 7%; }
    .passwordReset ul li input[placeholder="请输入手机号"] {
      width: 280px;
      height: 40px;
      text-indent: 45px;
      background: #edeef6;
      border: 1px solid #c7c8cb;
      font-size: 14px;
      padding-top: 5px;
      box-sizing: border-box;
      background: #eceff6 url("/src/img/pretty.png") no-repeat;
      background-position: 5% 50%;
      background-size: 7%; }
    .passwordReset ul li input[placeholder="请输入验证码"] {
      width: 280px;
      height: 40px;
      text-indent: 45px;
      background: #edeef6;
      border: 1px solid #c7c8cb;
      font-size: 14px;
      padding-top: 5px;
      box-sizing: border-box;
      background: #eceff6 url("/src/img/pretty.png") no-repeat;
      background-position: 5% 50%;
      background-size: 7%; }
  .passwordReset ul .ktvName {
    width: 280px;
    height: 40px;
    text-indent: 45px;
    background: #edeef6;
    border: 1px solid #c7c8cb;
    font-size: 14px;
    padding-top: 5px;
    box-sizing: border-box;
    padding-top: 0;
    line-height: 40px;
    text-indent: 0; }
  .passwordReset ul .getNum {
    width: 80px;
    height: 20px;
    line-height: 20px;
    font-size: 10px;
    border-left: 1px solid #cacdd0;
    top: 10px;
    right: 10px;
    color: #e6488c; }
.passwordReset .next {
  margin-top: 50px; }

.register {
  overflow: hidden; }
  .register h1 {
    padding-top: 125px;
    padding-bottom: 25px; }
  .register ul {
    width: 280px;
    overflow: hidden; }
    .register ul label {
      margin-left: 10px;
      color: #323233; }
    .register ul:first-of-type li:last-of-type {
      position: relative; }
      .register ul:first-of-type li:last-of-type .getNum {
        width: 80px;
        height: 20px;
        line-height: 20px;
        font-size: 10px;
        border-left: 1px solid #cacdd0;
        top: 10px;
        right: 0;
        color: #e6488c; }
    .register ul li {
      width: 280px;
      height: 40px;
      text-indent: 45px;
      background: #edeef6;
      border: 1px solid #c7c8cb;
      font-size: 14px;
      padding-top: 5px;
      box-sizing: border-box;
      text-indent: 0;
      line-height: .38rem;
      font-size: 14px; }
      .register ul li:last-of-type input {
        height: 20px; }
      .register ul li:last-of-type span {
        width: 1.3rem;
        height: .4rem;
        line-height: .4rem;
        color: #d5649b;
        border-left: 2px solid #cacbcd; }
      .register ul li input {
        vertical-align: middle;
        margin-top: -3px;
        width: 180px;
        height: 25px;
        background: #eceff6; }
        .register ul li input[type='time'] {
          background-color: #e4e4e4;
          width: 70px;
          height: 25px;
          box-sizing: border-box;
          text-align: center;
          font-size: 12px; }
      .register ul li span {
        margin: 0 .12rem; }
    .register ul:last-of-type {
      margin-top: 5px; }
      .register ul:last-of-type input {
        width: 150px; }
      .register ul:last-of-type li:last-of-type {
        font-size: 12px;
        width: 280px;
        height: 20px;
        background-color: #fff5c7;
        color: red;
        line-height: 20px;
        box-sizing: border-box;
        padding-right: 10px;
        animation: fade-in 2s linear 1; }
  .register .next {
    margin-top: 50px; }

/*ip设置*/
.ipSetup h1 {
  padding-top: 60px;
  padding-bottom: 90px; }
.ipSetup .ipRoom {
  display: inline-block;
  vertical-align: middle;
  width: 550px;
  height: 379px;
  margin-left: 10px;
  padding: 30px;
  box-sizing: border-box;
  overflow: auto;
  border: 2px solid rgba(255, 255, 255, 0.2); }
  .ipSetup .ipRoom li {
    margin-top: 10px;
    position: relative; }
    .ipSetup .ipRoom li input {
      background-color: #e9e8e3;
      font-size: 14px; }
  .ipSetup .ipRoom .roomNo {
    width: 100px;
    height: 40px;
    float: left;
    text-align: center;
    border-radius: 7px; }
  .ipSetup .ipRoom label {
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    font-size: 16px; }
  .ipSetup .ipRoom .ipAddr {
    height: 40px;
    display: flex;
    float: right;
    margin-right: .62rem;
    border-radius: 50%; }
    .ipSetup .ipRoom .ipAddr .ipNo {
      width: 250px;
      text-align: center; }
  .ipSetup .ipRoom .hide {
    display: inline-block;
    width: .32rem;
    height: .32rem;
    background: url("/src/img/delete.png") no-repeat;
    background-size: 15px;
    position: absolute;
    right: 0;
    top: 10px; }
  .ipSetup .ipRoom .add {
    color: #fff;
    font-size: 14px;
    width: 150px;
    height: 30px;
    line-height: 30px;
    background: url("/src/img/add.png") no-repeat;
    background-size: 15px;
    background-position: center left;
    text-align: left;
    text-indent: 28px;
    margin-top: 18px; }
.ipSetup .menu {
  border: 2px solid rgba(255, 255, 255, 0.3);
  font-size: 20px;
  width: 140px;
  height: 375px;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  overflow: auto; }
  .ipSetup .menu li {
    padding: 24px 22px;
    box-sizing: border-box;
    position: relative; }
    .ipSetup .menu li:hover {
      color: #fb60ab;
      background: rgba(0, 0, 0, 0.3); }
      .ipSetup .menu li:hover span {
        display: inline-block;
        width: 0;
        height: 0;
        border-width: 20px 20px 20px 0;
        border-style: solid;
        border-color: transparent rgba(255, 255, 255, 0.3) transparent transparent;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -20px; }
.ipSetup .buttons {
  margin-top: 60px; }
  .ipSetup .buttons .prev {
    background-color: #67717d;
    margin-right: .76rem; }
  .ipSetup .buttons .finish {
    background-color: #fb61aa; }

.warnning {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  padding-top: 300px;
  background: rgba(0, 0, 0, 0.6);
  color: red;
  font-size: 30px; }

/*# sourceMappingURL=app.css.map */
