@import '../lib/reset';
@import '../lib/mixin';
@import '../lib/common';

.h1BT {
    font-size:18px;
    @extend .cl-white;
    box-sizing: border-box;
}
@mixin item-select  {
    width:250px;
    height:40px;
    @extend .bdnoBlink;
    text-indent:45px;
    background: #edeef6;
    border: 1px solid #c7c8cb;
    font-size:14px;
    padding-top:5px;
    box-sizing:border-box;
}

// 从上而下出现动画效果  警告
@-webkit-keyframes fade-in {
    0% {opacity: 0;}
    40% {opacity: 0;}
    100% {opacity: 1;}
}

/* define */
// 点击input框以后的颜色
$red: #e4829f;
// 下一步按钮的颜色
$pink: #fb61aa;
// 记住密码的颜色
$blue: #5782e5;


/*小按钮*/
.littleBtn{
    width:180px;
    height:35px;
    text-align:center;
    line-height:35px;
    font-size:14px;
    border:none;
    color:#fff;
    border-radius:3px;
}

/*ip设置点击包房类型改变border样式,增加此class*/
.pinkBtnBottom{
    border-bottom:3px solid #dc6c98;
}
// ip设置点击包房类型改变字体样式,增加此class
.pinkFontBottom{
    color:#dc6c98;
}


/* 背景图位置 */
.bg-Ps {
    background-position: 5% 50%;
}

/*ip地址左框*/
.ipLeft {
    width:160px;
    height:70px;
}

// 警告
.warning{
    font-size:12px !important;
    width:250px !important;
    height:20px !important;
    background-color:#fff5c7 !important;
    color:red;
    line-height:20px !important;
    padding-top:0 !important;
    box-sizing:border-box;
    padding-right:10px;
    animation : fade-in 2s linear 1;
    @extend .bdrRd-5;
    @extend .txAlR;
}

/* 房型设置 */
.roomSetup {
    width: 100%;
    height: 100%;
    background:url('../img/loginBg.png') no-repeat;
    background-size: 100%;
    position:relative;
    h1 {
        padding-top:60px;
        padding-bottom:90px;
        @extend .h1BT;
        @extend .txAl;
    }
    ul {
        @extend .mg-auto;
        width:800px;
        height:380px;
        border:2px solid rgba(255,255,255,0.2);
        border-radius:5px;
        overflow:auto;
        padding:50px;
        box-sizing:border-box;
        li {
            position:relative;
            margin-bottom: 15px;
            &:nth-of-type(odd){
                float:left;
            }
            &:nth-of-type(even){
                float:right;
            }
            input {
                box-sizing: border-box;
                @include item-select;
                @include radius(7px);
                background-color: #e2e4e1;
                text-indent: 20px;
                &:focus {
                    border: 1px solid $red;
                }
            }
        }
    }
    .delete{
        right:-45px;
    }
    .addRoomType{
        clear:both;
        color:#fff;
        font-size:14px;
        width:90px;
        height:30px;
        line-height:30px;
        background: url('../img/add.png') no-repeat;
        background-size:15px;
        background-position:center left;
        text-align:left;
        text-indent:28px;
        float:right;
    }
    .next {
        @extend .pinkBtn;
        margin-top:50px;
        margin-left:515px;
    }
}




/* 登录 */
.login {
    width: 100%;
    height: 100%;
    background:url('../img/login.png') no-repeat;
    background-size: 100%;
    position:relative;
    img{
        width: 246px;
        height: 25px;
        margin: 170px 0 76px 519px;;
    }
    form{
        width:250px;
        margin:0 auto;
    }
    p{
        &:first-of-type {
            color: $blue;
            font-size:12px;
            a{
                text-decoration:underline;
                position:absolute;
                bottom:50px;
                left:615px;
            }
            input {
                @extend .bdnoBlink;
                margin-right:10px;
            }
            .rememberPsw {
                color:#fff;
                margin-right:120px;
            }
            a:hover {
                -webkit-tap-highlight-color: transparent;
            }
        }
        &:nth-of-type(2) {
            margin-top: 200px;
            @extend .cl-white;
            font-size:12px;
            @extend .bdUdline;
        }
    }
    ul {
        margin:0 auto;
        height:106px;
        li {
            input {
                @include item-select;
                border-top: none;
            }
            &:first-of-type {
                input {
                    @extend .bdrRdT-5;
                    background: #eceff6 url('../img/login1.png') no-repeat;
                    background-position: 5% 50%;
                    background-size:7%;
                }
            }
            &:nth-of-type(2) {
                input {
                    @extend .bdrRdB-5;
                    background: #eceff6 url('../img/login2.png') no-repeat;
                    background-position: 5% 50%;
                    background-size:7%;
                }
            }
        }
    }
    .next {
        @extend .pinkBtn;
        margin-top:60px;
    }
}



/* 设置新密码及找回密码 */
.passwordReset {
    width: 100%;
    height: 100%;
    background:url('../img/login.png') no-repeat;
    background-size: 100%;
    position:relative;
    h1 {
        @extend .h1BT;
        @extend .txAl;
        padding-top: 195px;
        padding-bottom:50px;
    }
    ul {
        width: 250px;
        height:180px;
        @extend .mg-auto;
        li {
            position: relative;
            input[name="password1"] {
                @include item-select;
                background:#eceff6 url('../img/login2.png') no-repeat;
                background-position: 5% 50%;
                background-size:7%;
            }
            input[name="password2"] {
                @include item-select;
                background: #eceff6 url('../img/login6.png') no-repeat;
                background-position: 5% 50%;
                background-size:7%;
                @extend .bdrRdB-5;
            }
            input[placeholder="请输入手机号"] {
                @include item-select;
                background: #eceff6 url('../img/login3.png') no-repeat;
                background-position: 5% 50%;
                background-size:7%;
                @extend .bdrRdT-7;
            }
            input[placeholder="请输入验证码"] {
                @include item-select;
                background: #eceff6 url('../img/login4.png') no-repeat;
                background-position: 5% 50%;
                background-size:7%;
            }
            input{
                border-top:none !important;
            }
        }
        .ktvName {
            @include item-select;
            padding-top:0;
            line-height:40px;
            text-indent: 0;
            @extend .bdrRdT-7;
        }
        .getNum {
            @extend .dsInB;
            width:80px;
            height:20px;
            line-height:20px;
            font-size:10px;
            border-left: 1px solid #cacdd0;
            @extend .psAb;
            top: 10px;
            right: 10px;
            color: #e03d8c;
            padding-left: 10px;
        }
    }
    .next {
        @extend .pinkBtn;
        margin-top:50px;
        margin-left:515px;
    }
}



//注册
.register{
    width: 100%;
    height: 100%;
    background:url('../img/login.png') no-repeat;
    background-size: 100%;
    position:relative;
    // overflow:hidden;
    h1{
        padding-top: 120px;
        padding-bottom:25px;
        @extend .h1BT;
        @extend .txAl;
    }
    ul{
        width:250px;
        @extend .mg-auto;
        overflow:hidden;
        label{
            @extend .flL;
            margin-left:10px;
            color:#323233;
        }
        &:first-of-type{
            li{
                &:last-of-type{
                    position:relative;
                    .getNum {
                        @extend .dsInB;
                        width:80px;
                        height:20px;
                        line-height:20px;
                        font-size:10px;
                        border-left: 1px solid #cacdd0;
                        @extend .psAb;
                        top: 10px;
                        right: 0;
                        color: #e6488c;
                    }
                }
            }
        }
        li{
            @include item-select;
            border-top:none;
            text-indent: 0;
            line-height:40px;
            font-size:14px;
            padding-top:0;
            &:first-of-type{
                @extend .bdrRdT-5;
            }
            &:last-of-type{
                @extend .bdrRdB-5;
                input{
                    height:20px;
                }
                span{
                    width: 80px;
                    height: 20px;
                    line-height: 20px;
                    color: #d5649b;
                    border-left: 1px solid #cacbcd;
                    padding: 0 5px;
                    font-size:12px;
                    vertical-align:middle;
                }
            }
            input{
                @extend .bdrNo;
                @extend .bdnoBlink;
                vertical-align:middle;
                margin-top:-3px;
                width:150px;
                height:25px;
                background:#eceff6;
                &[type='time']{
                    background-color:#e4e4e4;
                    width:84px;
                    height:25px;
                    box-sizing:border-box;
                    text-align:center;
                    font-size:12px;
                    border-radius:5px;
                }
            }
        }
        &:last-of-type{
            margin-top:5px;
            height:125px;
            .aginPassword{
                @extend .bdrRdB-5;
            }
            input{
                width:130px;
            }
            li{
                &:last-of-type{
                    width:0;
                    height:0;
                    border:none;
                }
            }
        }
    }
    .next {
        @extend .littleBtn;
        display:inline-block;
        background:#fb60ab;
    }
    .goLogin{
        margin-left:435px;
    }
    .goPre{
        margin-left:50px;
    }
    input[name='code']{
        width:100px !important;
    }
}

/*ip设置*/
.ipSetup{
    width: 100%;
    height: 100%;
    background:url('../img/loginBg.png') no-repeat;
    background-size: 100%;
    position:relative;
    @extend .txAl;
    h1 {
        padding-top:60px;
        padding-bottom:90px;
        @extend .h1BT;
    }
    .ipRoom{
        display:inline-block;
        vertical-align: middle;
        width:550px;
        height:379px;
        margin-left:10px;
        padding:30px;
        box-sizing:border-box;
        overflow:auto;
        border:2px solid rgba(255,255,255,.2);
        li{
            margin-top:15px;
            position:relative;
            input{
                background-color:#e9e8e3;
                font-size:14px;
            }
        }
        .roomNo{
            width:100px;
            height:40px;
            float:left;
            text-align:center;
            @extend .bdrNo;
            @extend .bdnoBlink;
            border-radius:7px;
        }
        label{
            color:#fff;
            display:inline-block;
            height:40px;
            line-height:40px;
            font-size:16px;
        }
        .ipAddr{
            height:40px;
            display:flex;
            float:right;
            margin-right:60px;
            border-radius:50%;
            .ipNo{
                width:250px;
                @extend .bdrNo;
                @extend .bdnoBlink;
                text-align:center;
                &:first-of-type{
                    @extend .bdrRdL-7;
                }
                &:last-of-type{
                    @extend .bdrRdR-7;
                }
            }
        }
        .delete{
            right:12px;
        }
        .addRoomIpType{
            color:#fff;
            font-size:14px;
            width:100px;
            height:30px;
            line-height:30px;
            background: url('../img/add.png') no-repeat;
            background-size:15px;
            background-position:center left;
            text-align:left;
            text-indent:28px;
            margin-top:18px;
        }
    }
    .menu{
        border:2px solid rgba(255,255,255,.3);
        font-size:20px;
        width:140px;
        height:375px;
        display:inline-block;
        vertical-align: middle;
        color:#fff;
        overflow:auto;
        overflow-x:hidden;
        li{
            padding:24px 22px;
            box-sizing:border-box;
            position:relative;
        }
        .active{
            color:#fb60ab;
            background:rgba(0,0,0,0.3);
            span{
                display:inline-block;
                width:0;
                height:0;
                border-width:20px 20px 20px 0;
                border-style:solid;
                border-color:transparent rgba(255,255,255,0.3) transparent transparent;
                position:absolute;
                right:0;
                top:50%;
                margin-top:-20px;
            }
        }
    }
    // 提示错误
    .warning{
        margin-left:172px;
    }
    .buttons{
        margin-top:60px;
        .prev{
            @extend .littleBtn;
            background-color:#67717d;
            margin-right:76px;
        }
        .finish{
            @extend .littleBtn;
            background-color:#fb61aa;
        }
    }
}


